.traderHeaderActions {
  margin-bottom: 30px;
  width: 100%;

  .titleBox {
    margin-right: 40px;
    max-width: 570px;

    .providerLogo {
      height: 40px;
      margin-right: 16px;
      width: 40px;
    }

    h1 {
      margin-right: 16px;
      word-break: break-all;
    }
  }

  .verifiedIcon {
    font-size: 28px;
    margin: -4px 0 0 6px;
  }

  h4 {
    font-weight: 400;
    margin-right: 30px;

    b {
      font-weight: 700;
      margin-left: 5px;
    }
  }

  .loadMoreButton {
    margin-right: 40px;
    min-width: 215px;
  }
}

@include media("<=sm") {
  .traderHeaderActions {
    .titleBox {
      margin: 10px 0 5px;
      max-width: 100%;
      width: 100%;

      .providerLogo {
        height: 30px;
        margin-right: 10px;
        width: 30px;
      }

      h1 {
        margin-right: 0;
      }
    }

    .loadMoreButton {
      margin-right: 0;
      min-width: 100%;
    }
  }
}

@include media(">lg") {
  .traderHeaderActions {
    .titleBox {
      max-width: 100%;
    }
  }
}
