.strategy {
  margin-bottom: 30px;
  padding: 30px 20px;
  width: 100%;
  min-height: inherit;

  .strategyHead {
    margin-bottom: 20px;
  }

  p {
    width: 100%;
    word-wrap: break-word;
    margin: 0;
  }
}
