.forgotPasswordForm {
  background-color: $white;
  padding: 40px;

  h3 {
    color: $lighterBlack;
    margin-bottom: 40px;
  }

  .inputBox {
    margin-bottom: 40px;
    width: 264px;

    .customLabel {
      color: $lighterBlack;
      text-align: center;
      width: 100%;
    }
  }

  .customInput {
    border: 1px solid $lightGrey;

    input {
      color: $lighterBlack;
    }

    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .link {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}
