@import '../../../styles/variables.sass';

.forgotPasswordForm
    padding: 40px;

    h3margin-bottom: 40px;
    .custom-label
        width: 100%;
        text-align: center;


    .input-box
        width: 264px;
        margin-bottom: 40px;
        &:first-child
            margin-top: 40px;

        .custom-input
            height: 32px;

        .custom-label
            margin-bottom: 12px;


    .link
        text-decoration: none;
        color: $purple;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 40px;

    .error-text
        color: $red;
        font-size: 11px;
