.customTooltipPopper {
  .customTooltip {
    padding: 5px 10px;
    text-align: left;

    .label {
      font-family: "PlexSans-Regular";
      margin-right: 5px;

      & + span {
        font-family: "PlexSans-Bold";
      }
    }
  }

  &[x-placement*="top"] .customArrowTooltip {
    background-color: $borderColor;
    height: 26px;
    width: 2px;
    position: absolute;
    will-change: left;
    margin: 6px 0 0 -2px;
    bottom: auto;

    &:before {
      display: none;
    }
  }
}

.customTooltip {
  @extend %body1;
  background-color: $tooltipBackground;
  border: solid 1px $tooltipBorder;
  color: $tooltipText;
  padding: 16px;
  text-align: center;
}
