.customTooltipPopper {
  &.customPos {
    transform: translate(0, -100%);

    .customTooltip {
      transform: translate(-50%, 0); // sass-lint:disable-line no-important
      transition: none; // sass-lint:disable-line no-important
    }
  }

  .customTooltip {
    @extend %body1;
    background-color: $tooltipBackground;
    border: solid 1px $tooltipBorder;
    color: $tooltipText;
    padding: 5px 10px;
    font-size: 12px;
    .label {
      font-family: "PlexSans-Regular";
      margin-right: 5px;

      & + span {
        font-family: "PlexSans-Bold";
      }
    }
  }

  .lineTooltip {
    border: solid 2px $borderColor;
    height: 21px;
    transform: translate(-2px, -8px);
    width: 1px;
  }
}
