.customTooltipPopper {
  transform: translate(0, -100%);

  .customTooltip {
    @extend %body1;
    background-color: $tooltipBackground;
    border: solid 1px $tooltipBorder;
    color: $tooltipText;
    font-size: 12px;
    padding: 5px 10px;
    transform: translate(-50%, 0); // sass-lint:disable-line no-important
    transition: none; // sass-lint:disable-line no-important

    .label {
      font-family: "PlexSans-Regular";
      margin-right: 5px;

      & + span {
        font-family: "PlexSans-Bold";
      }
    }
  }

  .lineTooltip {
    border: solid 2px $borderColor;
    height: 21px;
    transform: translate(-2px, -8px);
    width: 1px;
  }
}

.customTooltip {
  @extend %body1;
  background-color: $tooltipBackground;
  border: solid 1px $tooltipBorder;
  color: $tooltipText;
  padding: 16px;
}
