.providerLayout {
  .pageContent {
    margin-bottom: 30px;
    min-height: 400px;
    width: 100%;
  }

  .loadingBox {
    width: 100%;
    min-height: 700px;
  }

  .faq {
    width: 100%;
  }
}

@include media("<=sm") {
  .providerLayout {
    padding-bottom: 60px;
  }
}
