.press {
  margin-top: -100px;

  .chart {
    margin-top: -20%;
    position: absolute;
    left: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .slide {
    animation: slider ease-in 4s;
    background-color: $paleGrey;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  @keyframes slider {
    from {
      width: 100%;
    }

    to {
      width: 0;
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.55px;
    text-align: center;
    padding-top: 180px;
    text-align: center;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191927;

    img {
      margin-right: 10px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.55px;
    text-align: center;
    margin-top: 15px;
    color: #797989;
    margin-left: 15px;


  }

  .quotes {
    .pressQuote {
      z-index: 2;
    }
  }
}