.tabsMenu {
  border-bottom: 1px solid var(--border-color);
  min-height: 70px;
  padding: 0 20px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  button {
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    max-width: 200px;
    min-height: 70px;
    min-width: 50px;
    opacity: 0.6;
    padding: 0;
    text-transform: capitalize;

    &:focus {
      outline: none;
    }

    &.selected {
      color: var(--purple);
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .indicator {
    display: none;
  }
}

@include media("<=sm") {
  .tabsMenu {
    min-height: 70px;
    padding: 0 10px;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;

      button {
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
        max-width: 150px;
        min-height: 70px;
        padding: 0;
        text-transform: capitalize;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
