.dcaPanel {
  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .targetGroup {
      border-top: 1px dotted $darkestGrey;
      padding-bottom: 20px;

      &:first-child {
        border-top: 0;
      }
    }

    .targetPrice,
    .targetUnits {
      justify-content: space-between;

      > div {
        flex: 0 0 100%;
      }

      > :nth-child(1),
      > :nth-child(2) {
        flex: 0 0 50%;
      }
    }
  }

  .targetActions {
    margin-top: 10px;

    .addTarget,
    .removeTarget {
      background-color: transparent;
      font-size: 11px;

      svg {
        margin-right: 3px;
      }
    }

    .removeTarget {
      color: $red;
    }

    .addTarget {
      color: var(--purple);
    }
  }

  .increaseDCATitle {
    padding: 10px 0;
  }

  .customRadio {
    p {
      margin: 0;
    }

    svg {
      font-size: 1rem;
    }
  }

  .priorityType {
    margin: 12px 0;
  }
}
