.userExchangeList {
  margin-right: 20px;

  .currentSelectionBox {
    background-image: $purpleLightGradient;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    height: 36px;
    padding: 5px 10px;
    width: 100%;

    .name {
      font-size: 14px;
      font-weight: 500;
      margin-right: 3px;
    }

    .exchangeIcon {
      margin-right: 5px;
    }
  }
}

[data-theme="dark"] {
  .userExchangeList {
    .currentSelectionBox {
      background-image: $purpleDarkGradient;
    }
  }
}
