@import '../../../styles/variables.sass'
@import url('../../../styles/fonts.sass')

.providersHeader
    width: 100%
    .settings
        position: absolute
        right: 0
        bottom: 15px
        width: 120px
        height: 56px
        border-radius: 4px
        box-shadow: 0 2px 8px 0 rgba(64, 34, 95, 0.2)
        background: $white
    .icon
        width: 24px
        height: 24px
        cursor: pointer
