.providersHeader {
  width: 100%;

  .settings {
    background: $white;
    border-radius: 4px;
    bottom: 15px;
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    height: 56px;
    position: absolute;
    right: 0;
    width: 120px;
  }

  .icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}
