.providersHeader {
  width: 100%;

  .settings {
    border-radius: 4px;
    bottom: 0;
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    height: 56px;
    margin-bottom: 15px;
    padding: 16px 24px;
  }

  .becomeProviderButton {
    margin: 0 22px 10px auto;
    min-height: 40px;
  }

  .icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  span {
    &:not(:first-child) {
      margin-left: 24px;
    }
  }

  @include media("<=sm") {
    padding-bottom: 8px;

    .settings {
      margin-left: auto;
    }
  }
}
