@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.providersHeader
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    position: relative

    .dashboardLink
        text-decoration: none;
        font-family: 'PlexSans-Medium';
        text-transform: capitalize;
        color: inherit;
        padding: 12px 12px 21px 0;
        margin: 0 16px 0 0 ;
        font-size: 21px;
        box-sizing: border-box;
        &.active
            border-bottom: 2px solid $purple;
    .settings
        position: absolute;
        right: 0;
        bottom: 15px;
        width: 120px
        height: 56px
        border-radius: 4px
        box-shadow: 0 2px 8px 0 rgba(64, 34, 95, 0.2)
        background: $white;
    .icon
        width: 24px;
        height: 24px;
        cursor: pointer;
