.providersHeader {
  width: 100%;

  .settings {
    border-radius: 4px;
    bottom: 0;
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    height: 56px;
    margin-bottom: 15px;
    padding: 16px 24px;
  }

  .becomeProviderButton {
    min-height: 40px;
    margin: 0 22px 10px auto;
  }

  .icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  span {
    &:not(:first-child) {
      margin-left: 24px;
    }
  }

  @include media("<=sm") {
    margin-bottom: 57px;

    .becomeProviderButton {
      position: absolute;
      left: 0;
      right: 0;
      margin: 150px auto 0;
      width: auto;
      min-width: 260px;
    }
  }
}
