@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.providersHeader
    width: 100%;
    height: 50px;
    box-sizing: boorder-box;
    margin-bottom: 30px;
    padding: 0 0 4px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);


    .dashboardLink
        width: fit-content;
        text-decoration: none;
        font-family: 'PlexSans-Medium';
        text-transform: capitalize;
        color: inherit;
        padding: 12px 12px 11px 0;
        margin: 0 16px 0 0 ;
        font-size: 21px;
        box-sizing: border-box;
        &.active
            border-bottom: 2px solid $purple;
    .settings
        margin-left: auto;
        width: 120px
        height: 56px
        border-radius: 4px
        box-shadow: 0 2px 8px 0 rgba(64, 34, 95, 0.2)
        background: #ffffff
    .icon
        width: 24px;
        height: 24px;
        cursor: pointer;
