.formWrapper {
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  width: 100%;
}

.editProfileForm {
  width: 100%;

  .helpIcon {
    font-size: 18px;
    margin-left: 5px;
  }

  h3 {
    margin-bottom: 20px;
    width: 100%;
  }

  .optionsSubtitle {
    margin-bottom: 20px;
  }

  .signalBox {
    margin-bottom: 20px;
    width: 100%;

    h6 {
      text-transform: initial;
      width: 100%;
    }

    .signalUrl {
      font-weight: 400;
      width: 100%;
    }

    .howToUrl {
      color: $blue;
      text-decoration: none;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .privacySlider {
    margin: 0 32px 42px;
    width: 100%;
  }

  .inputBox {
    margin-bottom: 16px;
    width: calc(50% - 40px);

    &.switches {
      min-width: 65%;

      .customLabel {
        margin-bottom: 0;
      }
    }

    .customLabel {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      margin-bottom: 8px;

      .icon {
        height: 16px;
        margin-left: 10px;
        width: 16px;
      }
    }

    .customInput {
      &.error {
        fieldset {
          border-color: $red;
        }
      }
    }
  }

  .privacyBox {
    margin-bottom: 16px;
    width: 100%;
  }

  .leftColumn,
  .rightColumn {
    width: 50%;
  }

  .aboutBox,
  .whoWeAreBox,
  .strategyBox,
  .profileBox,
  .optionsBox {
    padding: 20px;
    width: 100%;
  }

  .aboutBox {
    min-height: 250px;
  }

  .whoWeAreBox {
    min-height: 100px;
  }

  .strategyBox {
    min-height: 250px;
  }

  .profileBox {
    min-height: 430px;

    .paymentBox {
      padding: 20px 0;
      width: 100%;
    }

    .alert {
      margin-bottom: 15px;
      width: 100%;
    }

    .paymentDocsLink {
      color: $blue;
      margin-bottom: 20px;
      text-decoration: none;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .optionsBox {
    .optionsFieldbox {
      margin-bottom: 10px;
    }

    .checkbox {
      padding: 0;
    }

    .customLabel {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      margin-bottom: 0;
      margin-left: 10px;
    }

    .helpIcon {
      display: inline;
      height: 16px;
      margin-left: 5px;
      width: 16px;
    }
  }

  .formAction {
    padding: 20px;
    width: 100%;

    .deleteButton {
      margin-right: 20px;
      min-width: 220px;
    }

    .submitButton {
      width: 220px;
    }
  }
}

@include media("<=sm") {
  .formWrapper {
    .editProfileForm {
      width: 100%;

      h3 {
        text-align: center;
      }

      .inputBox {
        margin-bottom: 16px;
        width: 100%;

        &.switches {
          min-width: 100%;
        }
      }

      .leftColumn,
      .rightColumn {
        width: 100%;
      }

      .aboutBox,
      .whoWeAreBox,
      .strategyBox,
      .profileBox,
      .optionsBox {
        padding: 20px 10px;
        width: 100%;
      }

      .aboutBox {
        min-height: 350px;
      }

      .whoWeAreBox {
        min-height: 300px;
      }

      .formAction {
        flex-wrap: wrap;
        justify-content: center;

        .deleteButton {
          margin-right: 0;
          margin-top: 20px;
          order: 2;
        }

        .submitButton {
          order: 1;
          width: 100%;
        }
      }
    }
  }
}
