.positionsTabs {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  min-height: 350px;
  width: 100%;

  .tabsBox {
    border-bottom: solid 1px $borderColor;

    .tabsMenu {
      min-height: 70px;
      width: 100%;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: fit-content;

        button {
          font-family: "PlexSans-Bold";
          font-size: 16px ;
          max-width: 170px;
          min-height: 70px;
          padding: 0;
          text-transform: capitalize;

          &:focus {
            outline: none;
          }

          &.selected {
            color: $purple;
          }
        }
      }
    }

    .settings {
      padding: 0 20px;
      width: 120px;

      .icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }

    .indicator {
      display: none;
    }
  }

  .tabPanel {
    min-height: 350px;
  }
}
