.positionsTabs {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  width: 100%;

  .tabsBox {
    border-bottom: solid 1px var(--border-color);

    .settings {
      padding: 0 20px;
      width: 120px;

      .icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }
  }

  .customTable {
    & > div {
      box-shadow: none;
    }
  }
}

@include media("<=sm") {
  .positionsTabs {
    .tabsBox {
      .settings {
        padding: 0 20px;
        width: 100px;
      }
    }

    .tabPanel {
      min-height: 350px;
    }
  }
}
