@import '../../../styles/variables.sass';

.positionsTabs
    border-radius: 4px;
    width: 100%;
    min-height: 400px;
    box-shadow: 0 2px 8px 0 rgba(64, 34, 95, 0.2);
    margin-bottom: 20px;

    .tabs-menu
        width: 100%;
        min-height: 70px;
        max-height: 70px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.1);
        .container
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            button
                padding: 0;
                min-width: 170px;
                max-width: 170px;
                min-height: 70px;
                max-height: 70px;
                text-transform: capitalize;
                font-size: 16px !important;
                font-family: 'PlexSans-Bold';
                &:last-child
                    min-width: 100px;
                    max-width: 100px;
                &:focus
                    outline: none;
                &.selected
                    color: $purple;
    .settings
        padding: 0 20px;
        width: 120px;
        .icon
            width: 24px;
            height: 24px;
            cursor: pointer;

    .indicator
        display: none;
    .section
        min-height: 400px;
