@import '../../styles/variables.sass';

.dashboardLayout
    .titleBox
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 16px;
        height: 50px;
        .exchangeTitle
            color: $purple;
            font-size: 16px;
            font-family: 'PlexSans-Bold';
            margin: 8px 0 0 16px
    .pageContent
        width: 100%;
        min-height: 500px;
    .faq
        width: 100%;
    .noExchangeBox
            .title
                width: 450px;
                font-family: "PlexSans-Medium";
                font-size: 21px;
                margin-bottom: 16px;
                b
                    color: $purple;
                    cursor: pointer;
            .text
                width: 420px;
                font-family: "PlexSans-Light";
                font-size: 18px;
                b
                    font-family: 'PlexSans-Medium';