@import '../../styles/variables.sass'

.dashboardLayout
    .pageContent
        width: 100%
        min-height: 400px
        margin-bottom: 30px
    .faq
        width: 100%
    .noExchangeBox
        .title
            width: 450px
            font-family: "PlexSans-Medium"
            font-size: 21px
            margin-bottom: 16px
            b
                color: $purple
                cursor: pointer
            .text
                width: 420px
                font-family: "PlexSans-Light"
                font-size: 18px
                b
                    font-family: 'PlexSans-Medium'
@media only screen and (max-width: 600px)
    .dashboardLayout
        padding-bottom: 60px
        .titleBox
            margin-bottom: 10px
        .noExchangeBox
            .title
                width: 100%
            .text
                width: 100%
