.noExchangeBox {
  h1 {
    margin-bottom: 20px;
  }

  .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 16px;
    width: 450px;

    b {
      color: var(--purple);
      cursor: pointer;
      margin: 0 5px;
    }
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    width: 450px;

    span {
      font-weight: 500;
      margin-right: 5px;
      text-transform: capitalize;
    }
  }

  img {
    margin-right: 20px;
  }
}

@include media("<=sm") {
  .noExchangeBox {
    .title {
      width: 100%;
    }

    .subtitle {
      width: 100%;
    }
  }
}
