@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.loginForm
    padding: 48px;

    .input-box
        width: 264px;
        margin-bottom: 40px;
        .custom-input
            height: 32px;

        .custom-label
            font-size: 16px;
            color: $black;
            margin-bottom: 12px;
            font-family: 'PlexSans-Regular';


    .link
        text-decoration: none;
        color: $purple;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px;
        font-family: 'PlexSans-Bold';
        letter-spacing: .42px;
        cursor: pointer;
        &:last-child
            margin-bottom: 0;


    .error-text
        color: $red;
        font-size: 11px;
