.loginForm {
  padding: 48px 110px;

  .inputBox {
    margin-bottom: 40px;
    width: 264px;
  }

  .customLabel {
    color: $lighterBlack;
  }

  .customInput {
    input {
      color: $lighterBlack;
    }

    svg {
      color: $lightGrey;
    }

    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .passwordInput {
    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .captchaBox {
    margin-bottom: 35px;
  }

  .link {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.42px;
    margin-bottom: 40px;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .errorText {
    color: $red;
    font-size: 11px;
  }
}
