@import "../../../styles/variables.scss";

@import url("../../../styles/fonts.scss");

.loginForm {
  padding: 48px;

  .input-box {
    margin-bottom: 40px;
    width: 264px;

    .custom-input {
      height: 32px;
    }

    .custom-label {
      color: $black;
      font-family: "PlexSans-Regular";
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  .link {
    color: $purple;
    cursor: pointer;
    font-family: "PlexSans-Bold";
    font-size: 11px;
    letter-spacing: 0.42px;
    margin-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .error-text {
    color: $red;
    font-size: 11px;
  }
}
