.settingsView {
  .subNavHeader {
    padding: 0 24px;
    width: 100%;
  }

  .settingsContent {
    padding: 0px 24px 32px;
  }

  label {
    &:not(.customLabel) {
      margin: 0 0 24px;
      align-items: start;
    }

    > * {
      margin-bottom: 11px;
    }
  }
}
