.settingsView {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 40px;

  .subNavHeader {
    margin: 0 24px 20px;
  }

  .settingsContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 24px 32px;
  }

  .inputBox {
    margin-bottom: 24px;
  }
}
