.connectExchangeView {
  .subNavHeader {
    padding: 0 24px;
    width: 100%;
  }
  // loader
  //   .wrapper {
  //     height: auto;
  //     position: static;
  //   }

  .exchangeSubtitle {
    font-family: "PlexSans-Regular";
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    letter-spacing: 0.53px;
  }
}
