.connectExchangeView {
  .subNavHeader {
    padding: 0 24px;
  }

  .faq {
    padding: 18px 24px;
  }

  .exchangeSubtitle {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.53px;
    line-height: 1.43;
  }

  .loadProgress {
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding: 30px;
  }
}
