.customSelect {
  p {
    margin-right: 12px;
  }

  &.dark {
    svg {
      color: $white;
    }
  }

  &.light {
    svg {
      color: $black2;
    }
  }

  .select {
    margin-right: 50px;
    min-width: 150px;
  }

  .searchRoot {
    width: 150px;
    margin-right: 50px;
  }

  .select,
  .searchInputRoot {
    border-radius: 4px;
    height: 32px;

    > div {
      align-items: center;
      display: flex;
      height: 32px;
      opacity: 1;
      padding: 0 14px;
    }
  }

  .searchInput {
    padding: 0;
  }
}

@include media("<=sm") {
  .customSelect {
    flex-direction: column;
    height: fit-content;
    justify-content: flex-end;

    .callout {
      order: 2;

      & + span {
        margin-bottom: 5px;
        order: 1;
        padding-right: 5px;
        text-align: right;
        width: 100%;
      }
    }
  }
}
