.customSelect {
  height: 32px;

  p {
    margin-right: 12px;
  }

  &.dark {
    svg {
      color: $white;
    }
  }

  &.light {
    svg {
      color: $black2;
    }
  }

  .select {
    border-radius: 4px;
    height: 32px;
    margin-right: 50px;
    min-width: 94px;

    > div {
      opacity: 0.6;
    }
  }
}
