.globalModalHead {
  padding-bottom: 24px;
  width: 100%;

  @include media("<=sm") {
    .actionBar {
      flex-wrap: wrap;
      .submitButton {
        &.back {
          width: calc(50% - 10px);
        }

        &.done {
          width: calc(100% - 245px);
        }

        &.save {
          width: calc(50% - 10px);
        }
      }

      .tempMessage {
        width: 100%;
      }
    }
  }

  .actionBar {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    width: 100%;

    .customButton {
      + * {
        margin-left: 24px;
      }
    }

    .submitButton {
      height: 40px;
      min-width: 102px;
    }

    .tempMessage {
      opacity: 0.6;
    }
  }

  > .titleBar {
    padding: 32px 24px 0;
    width: 100%;

    .exchangeIcon {
      margin-right: 8px;
    }

    .separator {
      margin: 0 12px;
    }
  }
}

@include media("<=sm") {
  .connectExchangeViewHead {
    .actionBar {
      .customButton {
        margin-right: 15px;
        + * {
          margin-left: 0;
        }
      }
    }

    .titleBar {
      padding: 24px 10px 0;

      h1 {
        font-size: 28px;
      }
    }
  }
}
