.selectInputBox {
  margin-bottom: 20px;
  width: 100%;

  .labelBox {
    width: 35%;

    .customLabel {
      margin-bottom: 0;
    }
  }

  .customLabel {
    margin-bottom: 0;
    min-width: 150px;
  }

  .icon {
    height: 16px;
    width: 16px;
  }

  .customInput {
    width: 120px;
  }

  .selectInput {
    margin-left: 10px;
    width: 120px;
  }

  .fieldInputBox {
    margin-left: 20px;
    width: 60%;
  }
}

@include media("<=sm") {
  .selectInputBox {
    flex-direction: column;

    .labelBox {
      width: 100%;
      margin-bottom: 5px;
    }

    .customLabel {
      margin-bottom: 0;
      min-width: 150px;
    }

    .icon {
      height: 16px;
      width: 16px;
    }

    .customInput {
      width: 50%;
    }

    .selectInput {
      margin-left: 10px;
      width: 50%;
    }

    .fieldInputBox {
      margin-left: 0;
      width: 100%;
    }
  }
}
