.exchangeIcon {
  &.xlarge {
    width: 40px;
    height: 40px;
  }

  &.large {
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 24px;
    height: 24px;
  }

  &.small {
    width: 20px;
    height: 20px;
  }
}
