.exchangeIcon {
  &.xlarge {
    height: 40px;
    width: 40px;
  }

  &.large {
    height: 32px;
    width: 32px;
  }

  &.mediumLarge {
    height: 28px;
    width: 28px;
  }

  &.medium {
    height: 24px;
    width: 24px;
  }

  &.small {
    height: 20px;
    width: 20px;
  }

  &.xsmall {
    height: 16px;
    width: 16px;
  }

  &.zignaly {
    background: $black;
    border-radius: 100%;
    padding: 4px;
  }
}
