.traderCardBody {
  .returnsBox {
    height: 60px;
    padding: 0 20px;

    .returns {
      height: 40px;
    }

    .openPositions {
      height: 40px;
    }
  }

  .traderCardGraph {
    position: relative;
    width: 100%;
    padding-top: 20%;

    .chartWrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .chart {
      width: 100%;
      position: relative;
      height: 100%;
    }

    .chartCanvas {
      width: 100%;
    }
  }

  .actionsWrapper {
    background: linear-gradient(180deg, rgba(229, 248, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin-bottom: 24px;

    h6,
    button {
      opacity: 0.6;
    }

    .followers {
      padding: 14px 0;
    }
  }

  .userSummary {
    padding: 10px 20px;
    border-top: 1px solid $borderColor;

    h5 {
      margin: 5px 0 10px;

      &:last-child {
        margin: 5px 0;
      }
    }
  }
}

@include media("<=sm") {
  .traderCardBody {
    .returnsBox {
      padding: 0 10px;
    }

    .userSummary {
      padding: 10px;
    }
  }
}
