.traderCardBody {
  .returnsBox {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;

    .returns {
      display: flex;
      flex-direction: column;
      height: 40px;
      justify-content: space-between;
    }

    .openPositions {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 40px;
      justify-content: space-between;
      padding: 1px 0;

      h4 {
        font-size: 14px;
        font-weight: 400;
      }

      h6 {
        font-size: 9px;
        opacity: 0.55;
      }
    }
  }

  .traderCardGraph {
    // The chart height will be 30% of width
    padding-top: 30%;
    position: relative;
    width: 100%;

    .chartWrapper {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .gradientChart {
      // Chart canvas will fill this container
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  .actionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0 24px;

    &.positive {
      background: linear-gradient(180deg, $greenChartBottom 0%, $white 100%);
    }

    &.negative {
      background: linear-gradient(180deg, $redChartBottom 0%, $white 100%);
    }

    h6 {
      &:not(.green):not(.red) {
        opacity: 0.6;
      }
    }

    .actions {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .followers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 14px;
      text-align: center;
    }
  }

  .userSummary {
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;

    h5 {
      margin: 5px 0 10px;

      &:last-child {
        margin: 5px 0;
      }
    }
  }
}

.traderCardTooltip {
  text-align: center;

  .subtitleTooltip {
    opacity: 0.6;
  }
}

@include media("<=sm") {
  .traderCardBody {
    .returnsBox {
      padding: 0 10px;
    }

    .userSummary {
      padding: 10px;
    }
  }
}

[data-theme="dark"] {
  .traderCardBody {
    .actionsWrapper {
      &.positive {
        background: linear-gradient(180deg, $darkGreenChartBottom 0%, $lighterBlack 100%);
      }

      &.negative {
        background: linear-gradient(180deg, $darkRedChartBottom 0%, $lighterBlack 100%);
      }
    }
  }
}
