.traderCardBody {
  .returnsBox {
    height: 60px;
    padding: 0 20px;

    .returns {
      height: 40px;
    }

    .openPositions {
      height: 40px;
    }
  }

  .traderCardGraph {
    // The chart height will be 30% of width
    padding-top: 30%;
    position: relative;
    width: 100%;

    .chartWrapper {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .chart {
      // Chart canvas will fill this container
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  .actionsWrapper {
    padding: 15px 0 24px;

    &.positive {
      background: linear-gradient(180deg, $greenChartBottom 0%, $white 100%);
    }

    &.negative {
      background: linear-gradient(180deg, $redChartBottom 0%, $white 100%);
    }

    h6,
    button {
      opacity: 0.6;
    }

    .followers {
      padding-bottom: 14px;
    }
  }

  .userSummary {
    border-top: 1px solid $borderColor;
    padding: 10px 20px;

    h5 {
      margin: 5px 0 10px;

      &:last-child {
        margin: 5px 0;
      }
    }
  }
}

.traderCardTooltip {
  padding: 8px;
  text-align: center;

  .subtitleTooltip {
    opacity: 0.6;
  }
}

@include media("<=sm") {
  .traderCardBody {
    .returnsBox {
      padding: 0 10px;
    }

    .userSummary {
      padding: 10px;
    }
  }
}
