.ProvidersProfitsTable {
  padding: 0 10px;

  .MuiTableRow-head {
    vertical-align: top;
  }

  .MuiTableCell-head div {
    min-width: 98px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
