.app {
  box-sizing: border-box;
  min-height: calc(100vh - 74px);
  width: 100%;

  .body {
    width: 100%;

    .side {
      position: relative;
      width: 100px;
    }

    .appContent {
      box-sizing: border-box;
      min-height: calc(100vh - 74px);
      padding: 40px;
      width: calc(100% - 100px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .app {
    .body {
      width: inherit;

      .appContent {
        box-sizing: border-box;
        min-height: calc(100vh - 74px);
        padding: 15px;
        width: 100%;
      }
    }
  }
}
