.app
    box-sizing: border-box
    min-height: 100vh
    min-height: calc(100vh - 74px)
    width: inherit
    width: calc(100% - 90px)

    .appContent
        box-sizing: border-box
        min-height: calc(100vh - 74px)
        width: inherit
        width: 100% 

@media only screen and (max-width: 600px)
    .app
        .body
            width: inherit
            .appContent
                box-sizing: border-box
                min-height: calc(100vh - 74px)
                padding: 15px 
                width: 100% 
