.app
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    .body
        width: inherit;
        .side
            width: 110px;
            min-height: calc(100vh - 74px);
            position: relative;
            box-sizing: border-box;
        .appContent
            width: calc(100% - 110px);
            min-height: calc(100vh - 74px);
            padding: 50px 50px 10px 50px;
            box-sizing: border-box !important;