.toggleTextarea {
  margin-bottom: 20px;
  width: 100%;

  .labelBox {
    width: 50%;

    .customLabel {
      margin-bottom: 0;
    }
  }

  .customInput {
    height: auto;
  }

  .customLabel {
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 200px;
  }

  .icon {
    height: 16px;
    margin-right: 10px;
    width: 16px;
  }

  .fieldInputBox {
    min-height: 100px;
    width: 45%;
  }
}

@include media("<=sm") {
  .toggleTextarea {
    flex-direction: column;

    .labelBox {
      margin-bottom: 5px;
      width: 100%;
    }

    .fieldInputBox {
      margin-left: 0;
      min-height: 100px;
      width: 100%;
    }
  }
}
