.customFilters {
  background: $transparentBackground;
  border-bottom: 1px solid $borderColor;
  box-sizing: boorder-box;
  margin-bottom: 16px;
  min-height: 70px;
  padding: 0 25px;
  width: 100%;

  .filters {
    width: calc(100% - 250px);

    .title {
      color: $purple;
      font-family: "PlexSans-Medium";
      font-size: 16px;
      margin-right: 34px;
    }
  }

  .actions {
    width: 250px;
  }
}

@include media("<=sm") {
  .customFilters {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;

    .filters {
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;
      min-height: 60px;
      width: 100%;

      .title {
        display: none;
      }

      label {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    .actions {
      min-height: 40px;
      width: 100%;
    }

    .customButton {
      min-width: auto;
      width: auto;
    }
  }
}
