.customFilters {
  background: $transparentBackground;
  border-bottom: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 16px;
  min-height: 70px;
  padding: 0 25px;
  width: 100%;

  .filters {
    .title {
      color: var(--purple);
      font-size: 16px;
      font-weight: 500;
      width: 100px;
    }
  }

  .customSelect {
    margin-right: 40px;

    .searchRoot {
      margin-right: 0;
    }

    .select {
      margin: 0;
    }
  }
}

@include media("<=sm") {
  .customFilters {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;

    .filters {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
      min-height: 60px;
      padding: 0 10px;
      width: 100%;

      .title {
        display: none;
      }

      label {
        display: none;
      }

      .customSelect {
        align-items: flex-start;
        flex-direction: column;
        height: fit-content;
        margin: 5px 0 10px;
        width: 48%;
      }

      .select,
      .searchRoot {
        margin-right: 0;
      }
    }

    .actions {
      min-height: 40px;
      width: 100%;

      .customButton {
        width: 100%;
      }
    }
  }
}

[data-theme="dark"] {
  .customFilters {
    background: $lighterBlack;
    border: 1px solid $lightBlackBorder;
  }
}
