.exchangeAccountWithdraw {
  width: 100%;

  .networkButtons {
    margin-bottom: 6px;
  }

  .controlInput {
    margin-top: 32px;
  }

  .labelBox {
    margin-bottom: 18px;
  }

  .labelAvailable {
    padding-right: 10px;
  }

  .minAmount {
    margin: 21px 0 33px;

    b {
      padding-left: 10px;
    }
  }

  .customButton {
    margin-top: 39px;
  }
}
