.recoverPasswordPage {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/login/group.png");
  background-size: cover;

  .logo {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
  }
}
