@import '../../../styles/variables.sass';

.positionSettingsForm
    width: 320px;
    padding: 20px;
    overflow: scroll;
    position: relative;

    .form
        width: 100%;
        min-height: 400px;
    .closeIcon
        position: absolute;
        top: 16px
        right: 16px;
