.signupForm {
  padding: 48px;

  .inputBox {
    margin-bottom: 40px;
    width: 264px;

    &.checkbox {
      width: 300px;
    }

    &.buttonBox {
      margin-bottom: 10px;
    }

    &.noMargin {
      margin-bottom: 10px;
    }
  }

  .captchaBox {
    margin: -5px 0 35px;
  }

  .errorText {
    color: $red;
    font-family: "PlexSans-Regular";
    font-size: 11px;
    margin-bottom: 40px;

    &.bold {
      font-family: "PlexSans-Medium";
      font-size: 13px;
    }
  }

  .termsBox {
    * {
      font-size: 14px;
    }

    .link {
      align-self: center;
      color: $purple;
      font-family: "PlexSans-Bold";
      margin: 0 7px;
      text-decoration: none;
      text-transform: uppercase;
    }

    &.error {
      * {
        color: $red;
      }
    }
  }
}
