.signupForm {
  padding: 35px 41px;

  .inputBox {
    margin-bottom: 27px;
    width: 264px;
    margin-top: 15px;

    &.buttonBox {
      margin-bottom: 10px;
    }

    &.noMargin {
      margin-bottom: 10px;
    }
  }

  .customLabel {
    color: $lighterBlack;
  }

  .customInput {
    input::placeholder {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.55px;
      color: $black;
      opacity: 8;
    }

    input {
      color: $lighterBlack;
    }

    svg {
      color: $lightGrey;
    }

    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .passwordInput {
    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .emailInput {
    margin-top: 25px;
  }

  .captchaBox {
    margin: -5px 0 35px;
  }

  .errorText {
    color: $red;
    font-size: 11px;
    font-weight: 400;

    &.bold {
      font-size: 13px;
      font-weight: 500;
    }
  }

  .termsBox {
    * {
      font-size: 14px;
    }

    .text {
      color: $lighterBlack;
    }

    .link {
      align-self: center;
      font-weight: 700;
      padding: 0 5px;
      text-transform: uppercase;
    }

    &.error {
      * {
        color: $red;
      }
    }
  }

  .headerText {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .underline {
    text-decoration: underline;
    display: inline;
  }

  .padlockTextContainer {
    margin-left: -95px;
    margin-right: -95px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  .padlockText {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-left: 3px;
  }
}
