@import '../../../styles/variables.sass';

.signup-form
    width: 100%;
    padding: 48px;

    .input-box
        width: 264px;
        margin-bottom: 40px;
        &.checkbox
            width: 300px;
        &.button-box
            margin-bottom: 10px;
        &.no-margin
            margin-bottom: 10px !important;

        .custom-input
            height: 32px;

        .custom-label
            margin-bottom: 12px;

        .terms-text
            font-size: 16px;
            font-family: 'PlexSans-Regular';
            letter-spacing: .42px;
            &.error
                color: $red;


    .error-text
        color: $red;
        font-size: 11px;
        font-family: 'PlexSans-Regular';
        margin-bottom: 40px;
        &.bold
            font-size: 13px;
            font-family: 'PlexSans-Medium';


    .terms-box
        *
            font-size: 14px;

        .link
            text-decoration: none;
            color: $purple;
            text-transform: uppercase;
            font-family: 'PlexSans-Bold';
            align-self: center;
            margin: 0 7px !important;
