@import '../../../styles/variables.sass';

.totalEquity
    padding: 0 20px 0 0;

    .equityHeader
        width: 100%;
        .smallText
            margin-left: 12px;

        label
            margin-right: 12px;
            font-size: 16px;
            font-family: 'PlexSans-Regular';
    .chartCanvas
        width: 100% !important;
        height: 250px !important;