.totalEquity {
  border-right: 2px solid $borderColor;
  min-height: inherit;
  padding: 0 30px 0 0;

  .equityHeader {
    margin-bottom: 20px;
  }
}

@include media("<=sm") {
  .totalEquity {
    border: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}
