@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.totalEquity
    padding: 0 20px 0 0;

    .equityHeader
        width: 100%;

        .boxTitle
            margin-bottom: 12px;
            font-family: 'PlexSans-Bold';
        .bold
            font-size: 16px;
            font-family: 'PlexSans-Medium';
            word-spacing: 5px;
            .smallText
                font-size: 12px;
                margin-left: 12px;
                word-spacing: 5px;

        label
            margin-right: 12px;
            font-size: 16px;
            font-family: 'PlexSans-Regular';
    .chartCanvas
        width: 100% !important;
        height: 250px !important;