.totalEquity {
  border-right: 2px solid var(--border-color);
  height: inherit;
  min-height: inherit;
  padding: 0 30px 0 0;

  .equityHeader {
    margin-bottom: 20px;
  }

  .gradientChart {
    height: 200px;
  }
}

.loadingBox {
  height: 250px;
  width: 100%;
}

.modalFilter {
  margin-left: auto;
}

@include media("<=sm") {
  .totalEquity {
    border: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

@include media(">lg", "<=xl") {
  .totalEquity {
    .gradientChart {
      height: 240px;
    }
  }
}

// @include media(">xl") {
//   .totalEquity {
//     .gradientChart {
//       height: 400px;
//     }
//   }
// }
