.totalEquity {
  border-right: 2px solid $borderColor;
  height: inherit;
  min-height: inherit;
  padding: 0 30px 0 0;

  .gradientChart {
    canvas {
      min-height: 200px;
      min-width: 100%;
    }
  }

  .equityHeader {
    margin-bottom: 20px;
  }
}

@include media("<=sm") {
  .totalEquity {
    border: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

@include media(">=xl") {
  .totalEquity {
    .gradientChart {
      height: 280px;
    }
  }
}
