.noRealAccount {
  width: 100%;

  .connectHead {
    margin: 49px 0 11px;
  }

  .connectDesc {
    max-width: 456px;
    margin-bottom: 56px;
    text-align: center;
    padding: 0 10px;
  }

  .exchangeButtons {
    padding: 0 24px;

    > div {
      flex: 1;
    }
  }

  .exchangeSubtitle {
    text-align: center;
  }

  .customButton {
    margin: 15px 0 11px;
  }
}

@include media("<=sm") {
  .noRealAccount {
    .exchangeButtons {
      flex-direction: column;
      text-align: center;
      padding: 0 12px;

      > div {
        margin-bottom: 50px;
      }
    }
  }
}
