@import '../../styles/variables.sass';
@import url('../../styles/fonts.sass');

.FAQ
    width: 100%;
    min-height: 100px;
    box-sizing: boorder-box;
    padding: 16px 32px;
    .title
        font-size: 16px;
        text-transform: capitalize;
        font-family: 'PlexSans-Medium';
    .questionContainer
        .question
            color: $purple;
            font-size: 16px;
            font-family: 'PlexSans-Regular';
            margin: 16px 16px 0 0;
