@import '../../styles/variables.sass';
@import url('../../styles/fonts.sass');

.FAQ
    width: 100%;
    box-sizing: boorder-box;
    .title
        text-transform: capitalize;
        color
    .questionContainer
        .question
            color: $purple !important;
            margin: 16px 16px 0 0;
@media only screen and (max-width: 600px)
    .FAQ
        .title
        .questionContainer
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .question
                margin: 10px 0 0 0;
