.profileManagementPage {
  width: 100%;

  .loadingBox {
    min-height: 100px;
    width: 100%;
  }

  .summaryBox {
    min-height: 200px;
    width: 100%;
  }

  .tableBox {
    min-height: 300px;
    width: 100%;
  }
}
