.exchangeAccountDeposit {
  width: 100%;

  .buyCryptoBox {
    border-bottom: 1px solid var(--border-color);
    margin: 0 24px;
    padding: 11px 0 24px;

    h3 {
      margin-bottom: 14px;
    }

    .customButton {
      margin-top: 19px;
    }

    .creditCard {
      margin-top: 16px;

      img {
        height: 32px;
        width: 32px;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }

  .networkColumn {
    .addressLabel {
      margin: 32px 0 19px;
    }

    .address {
      word-break: break-all;
    }

    .addressButtons {
      margin-top: 19px;

      .customButton {
        flex: 1;
        min-width: auto;

        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }

    .copy {
      cursor: pointer;
      padding-left: 12px;
    }
  }

  .coinColumn.selected,
  .networkColumn {
    padding-bottom: 205px;
    position: relative;
  }

  .tipBox {
    bottom: 0;
    position: absolute;
  }

  .coinColumn {
    .tipBox {
      margin-right: 69px;
    }
  }

  .transferBox {
    .depositTimeAlert {
      margin-top: 30px;
    }
  }
}

@include media("<=sm") {
  .exchangeAccountDeposit {
    .coinColumn,
    .networkColumn {
      padding-bottom: 18px;
      position: static;
    }

    .tipBox {
      margin-top: 24px;
      position: static;
    }

    .coinColumn {
      .tipBox {
        margin-right: 0;
      }
    }
  }
}
