.connectTraderForm {
  .wrongExchangeBox {
    padding: 30px;

    .wrongExchangeTitle {
      margin-bottom: 32px;

      svg {
        margin-left: 8px;
      }
    }

    .submitButton {
      margin: 30px auto 0;
    }
  }
}
