.userSummary {
  margin-top: 10px;
  padding: 10px 20px;

  h5 {
    margin: 5px 0 10px;

    &:last-child {
      margin: 5px 0;
    }
  }
}

@include media("<=sm") {
  .userSummary {
    padding: 10px;
  }
}
