.spBrowsePage {
  width: 100%;

  .tradersBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 500px));
    grid-gap: 1rem;
    justify-content: flex-start;
    // margin: -24px;
  }

  .traderCard {
    // height: 360px;
    // width: 336px;
    min-width: auto;
    min-height: auto;
    width: auto;
    height: auto;
    margin: 0;
    // margin: 24px;
  }
}
