.doughnut {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  &.vertical {
    flex-direction: column;
  }

  .canvasParent {
    height: 216px;
    position: relative;
    width: 216px;
    @include media("<=sm") {
      height: auto;
      width: calc(100% - 150px);
    }
  }

  &.vertical .legendBox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

    li {
      flex: 1 0 50%;
      padding: 4px 0;
    }

    .value {
      margin-right: 17px;
      white-space: nowrap;
    }
  }

  &:not(.vertical) .legendBox ul {
    margin-left: 51px;
    @include media("<=sm") {
      margin-left: 12px;
    }
  }

  .legendBox {
    // display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .circle {
      border-radius: 100%;
      display: block;
      flex-shrink: 0;
      height: 6px;
      margin-right: 6px;
      width: 6px;
    }

    .value {
      margin-right: 5px;
      opacity: 0.6;
    }
  }
}
