.doughnut {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .canvasParent {
    height: 100%;
    // flex: 1;
    position: relative;
    // width: 100%;
  }

  .legendBox {
    // display: none;

    &:not(.vertical) {
      position: absolute;
      right: 0;
      top: 50%;
    }

    &.vertical ul {
      //   display: grid;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //   grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      //   height: 80px;
      margin-top: 20px;

      li {
        flex-basis: 125px;
        padding: 8px 0;
        // padding-right: 30px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .circle {
      border-radius: 100%;
      display: block;
      height: 10px;
      margin-right: 5px;
      width: 10px;
    }

    .value {
      font-size: 12px;
      margin-right: 5px;
    }

    .quote {
      font-size: 12px;
    }
  }
}
