.doughnut {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;

  &.vertical {
    flex-direction: column;
  }

  .canvasParent {
    height: 100%;
    // flex: 1;
    position: relative;
    width: 216px;
    // width: 100%;
  }

  &.vertical .legendBox ul {
    // display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    //   height: 80px;
    margin-top: 20px;
    width: 100%;

    li {
      //   width: max-content;
      flex: 1 0 50%;
      padding: 6px 0;
      //   width: 155px;
      // padding-right: 30px;
      .value {
        margin-right: 17px;
        white-space: nowrap;
      }
    }
  }

  &:not(.vertical) .legendBox ul {
    margin-left: 51px;
  }

  .legendBox {
    // display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .circle {
      border-radius: 100%;
      display: block;
      height: 6px;
      margin-right: 6px;
      width: 6px;
    }

    .value {
      margin-right: 5px;
      opacity: 0.6;
    }
  }
}
