.twoFAForm {
  padding: 60px 75px;

  .faBox:not(:first-child) {
    margin-top: 42px;
  }

  h3 {
    font-size: 27px;
    margin-bottom: 30px;
  }

  .verifyBox,
  .faBox {
    .callout1 {
      margin: 12px 0 20px;
    }
  }

  .inputBox {
    width: fit-content;
  }

  .linkBox {
    height: 18px;
    margin: 20px 0 40px;
  }

  .link {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .codeInput {
    text-align: center;
    width: auto;
  }

  .spinner {
    margin-left: 4px;
  }
}

@include media("<=sm") {
  .twoFAForm {
    padding: 60px 12px;

    .codeInput {
      input {
        max-height: 46px;
        max-width: 43px;
      }
    }
  }
}
