.providerHeaderInfo {
  margin-bottom: 30px;
  width: 100%;

  h4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    justify-content: flex-start;
    margin-right: 40px;
    text-transform: capitalize;

    b {
      font-weight: 700;
      margin-left: 5px;
    }

    .imageBox {
      margin-left: 8px;
      width: fit-content;

      .exchangeIcon {
        height: 17px;
        width: 17px;
      }
    }

    .editIcon {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

@include media("<=sm") {
  .providerHeaderInfo {
    flex-wrap: wrap;

    h4 {
      margin: 5px 20px 5px 0;

      &.base {
        margin: 5px 0;
        width: 18.75%;
      }

      &.trade {
        margin: 5px 0;
        width: 18.75%;
      }

      &.type {
        margin: 5px 0;
        width: 18.75%;
      }

      &.copiers {
        margin: 5px 0;
        width: 15.75%;
      }

      &.price {
        margin: 5px 0;
        width: 28%;
      }

      span {
        display: none;
      }

      b {
        font-weight: 700;
        margin-left: 5px;
      }

      .imageBox {
        margin-left: 8px;
        width: fit-content;

        .exchangeIcon {
          height: 17px;
          width: 17px;
        }
      }

      .editIcon {
        cursor: pointer;
        height: 24px;
        margin-left: 10px;
        width: 24px;
      }
    }
  }
}
