.providerHeaderInfo {
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;

  h4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    justify-content: flex-start;
    margin-right: 22px;
    text-transform: capitalize;

    span {
      margin-right: 3px;
    }

    b {
      font-weight: 700;
      margin-left: 5px;
    }

    .imageBox {
      margin-left: 8px;
      width: fit-content;

      .exchangeIcon {
        height: 17px;
        width: 17px;
      }
    }

    .editIcon {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}

@include media("<=sm") {
  .providerHeaderInfo {
    justify-content: space-between;

    h4 {
      display: flex;
      flex-direction: row;
      margin: 5px 20px 5px 0;

      &.base {
        justify-content: flex-start;
        margin: 5px 0 10px;
        min-width: 36%;
      }

      &.trade {
        justify-content: center;
        margin: 5px 0 10px;
        min-width: 32%;
      }

      &.type {
        justify-content: flex-end;
        margin: 5px 0 10px;
        min-width: 32%;
      }

      &.copiers {
        margin: 5px 0 10px;
        min-width: fit-content;

        span {
          display: block;
        }
      }

      &.price {
        justify-content: center;
        margin: 5px 0 10px;
        min-width: fit-content;
      }

      &.trial {
        justify-content: flex-end;
        margin: 5px 0 10px;
        min-width: fit-content;
      }

      &.allocated {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 5px auto;
        width: 100%;
      }

      &.traderType {
        display: flex;
        justify-content: center;
        margin: 5px auto;
        width: 100%;
      }

      span {
        display: none;
      }

      b {
        font-weight: 700;
        margin-left: 0;
      }

      .imageBox {
        margin-left: 8px;
        width: fit-content;

        .exchangeIcon {
          height: 17px;
          width: 17px;
        }
      }

      .editIcon {
        cursor: pointer;
        height: 24px;
        margin-left: 10px;
        width: 24px;
      }
    }
  }
}
