.tabsMenu {
  min-height: 70px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
  }

  button {
    font-family: "PlexSans-Bold";
    font-size: 16px;
    max-width: 170px;
    min-height: 70px;
    padding: 0;
    text-transform: capitalize;

    &:focus {
      outline: none;
    }

    &.selected {
      color: $purple;
    }
  }

  .indicator {
    display: none;
  }
}

@include media("<=sm") {
  .tabsMenu {
    min-height: 70px;
    width: calc(100% - 100px);

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: fit-content;

      button {
        font-family: "PlexSans-Bold";
        font-size: 16px;
        max-width: 200px;
        min-height: 70px;
        min-width: 150px;
        padding: 0;
        text-transform: capitalize;

        &:focus {
          outline: none;
        }

        &.selected {
          color: $purple;
        }
      }
    }
  }
}
