.providersList {
  .tradersBox {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(354px, 425px));
    justify-content: flex-start;
  }

  .traderCard {
    height: auto;
    margin: 0;
    min-height: auto;
    min-width: auto;
    width: auto;
  }
}

@include media("<=sm") {
  .providersList {
    align-items: center;
  }
}
