.providersList {
  .tradersBox {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }

  .traderCard {
    height: auto;
    margin: 0;
    min-height: auto;
    min-width: auto;
    width: auto;
  }
}

@include media("<=sm") {
  .providersList {
    align-items: center;

    .tradersBox {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
  }
}
