.providersList {
  .tradersBox {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    width: 100%;
  }

  .loader {
    margin: 50px auto;
  }
}

@include media("<=sm") {
  .providersList {
    align-items: center;

    .tradersBox {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
  }
}
