.performanceOverview {
  padding: 30px 20px;
  width: 100%;

  .infoBox {
    margin-top: 20px;
    width: 400px;

    .infoRow {
      margin-bottom: 10px;
      width: 100%;

      h4,
      p {
        width: 50%;
      }
    }
  }

  .chartBox {
    width: 100%;

    h4 {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

@include media("<=sm") {
  .performanceOverview {
    padding: 20px;

    h3 {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .expandIcon {
        cursor: pointer;
        height: 32px;
        width: 32px;
      }
    }

    .infoBox {
      width: 100%;

      .infoRow {
        margin-bottom: 20px;
        width: 100%;

        h4,
        p {
          font-size: 14px;
          width: fit-content;
        }
      }
    }
  }
}
