.syncBalanceButton {
  .textPurple {
    margin-right: 0;
    min-width: 170px;

    .icon {
      margin-right: 5px;
    }
  }
}

@include media("<=sm") {
  .syncBalanceButton {
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;

    .textPurple {
      margin-right: 0;
      min-width: 100%;
    }
  }
}
