.noDemoAccount {
  width: 100%;

  .connectHead {
    margin: 49px 0 11px;
  }

  .connectDesc {
    max-width: 456px;
    margin-top: 11px;
    text-align: center;
    padding: 0 10px;
  }

  .exchangeButtons {
    padding: 0 24px;
  }

  .customButton {
    margin: 15px 0 48px;
  }
}
