@import '../../styles/variables.sass';
@import url(../../styles/fonts.sass);

.dashboard
    .titleBox
        box-sizing: border-box;
        width: 100%;
        .exchangeTitle
            color: $purpleLight;
            font-size: 16px;
            font-family: 'PlexSans-Medium';
            margin: 0 0 0 16px