.exchangeAccountList {
  padding-bottom: 12px;
  width: 100%;

  .exchangeAccountNavContainer {
    width: 100%;

    .subNavHeader {
      width: 100%;
    }

    .searchInput {
      border-bottom: solid 2px var(--border-color);
      height: 100%;
      padding: 12px;
      width: 300px;
    }
  }

  .exchangeAccountContainer {
    padding: 0 10px;

    .exchangeButtons {
      margin-top: 40px;
    }

    .exchangeButton {
      margin: 0 24px 11px 0;
    }

    &.demoAccounts {
      .exchangeButton {
        margin-top: 11px;
      }
    }
  }
}

@include media("<=sm") {
  .exchangeAccountList {
    padding-bottom: 50px;

    .exchangeAccountInfo {
      padding: 0 0 12px;
    }

    .exchangeAccountContainer {
      .exchangeButtons {
        flex-direction: column;
        margin-top: 0;

        > div {
          margin-top: 20px;
        }

        .exchangeButton {
          margin-right: 0;
        }
      }
    }
  }
}
