.createSignalProviderForm {
  padding: 50px;

  @include media("<=sm") {
    .customButton {
      width: 100%;
    }

    .inputBox {
      flex-direction: column;
    }

    .customSelect {
      &#{&} {
        margin-left: 0;
      }
    }

    .customSelect {
      &:first-child {
        margin-bottom: 18px;
      }

      > span {
        margin: 0;
        padding: 0;

        > p {
          margin-right: 0;
        }
      }
    }

    label {
      text-align: center;
    }
  }

  .formContent {
    max-width: 556px;
  }

  > .loader {
    margin-top: 60px;
  }

  .customLabel {
    margin: 0;
  }

  .desc {
    margin: 12px 0 32px;
  }

  .customSelect {
    align-items: flex-start;
    margin: 0 0 auto;
    width: 100%;

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    .customSelectControl {
      width: 100%;
    }

    .searchRoot {
      margin-right: 0;
      min-width: 130px;
      width: 100%;
    }

    .select {
      margin-right: 0;
    }
  }

  .inputBox {
    margin-bottom: 18px;
    width: 100%;
  }

  .minBalanceBox {
    margin-right: 20px;
  }
}
