.profitSharingAnalytics {
  .totalEquityBar {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin: 30px 0 42px;
    width: 100%;
  }

  .profitSharingEquityChart {
    width: 60%;
  }

  .profitSharingTable {
    padding-left: 24px;
    width: 40%;
  }
}

@include media("<=sm") {
  .profitSharingAnalytics {
    .chartTableBox {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }

    .profitSharingTable {
      padding: 20px 0;
    }

    .totalEquityBar {
      box-shadow: none;
    }

    .operator {
      visibility: hidden;
    }
  }
}
