.profitSharingAnalytics {
  .totalEquityBar {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin: 30px 0 42px;
  }

  .totalEquity {
    width: 60%;
  }

  .profitSharingTable {
    padding-left: 24px;
    width: 40%;
  }
}
