.enable2FA {
  .customButton {
    margin-top: 24px;
    min-width: 216px;
  }

  form {
    margin-top: 16px;
  }

  .qrCode {
    margin: 22px 0;
  }

  .code {
    margin: 20px 0 11px;
  }

  .customInput {
    width: 216px;
  }
}
