.gradientChart {
  position: relative;
  width: 100%;

  .pointHover {
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px $purple;
    background-color: $white;
    pointer-events: none;
    will-change: translate;
  }
}
