.toggleTargetFields {
  margin-bottom: 20px;
  width: 100%;

  .labelBox {
    width: 50%;

    .customLabel {
      margin-bottom: 0;
    }
  }

  .targetFields {
    margin-bottom: 20px;
    width: 45%;

    .fieldBox {
      margin-bottom: 15px;
      width: 100%;
    }
  }
}

@include media("<=sm") {
  .toggleTargetFields {
    flex-direction: column;

    .labelBox {
      margin-bottom: 5px;
      width: 100%;
    }

    .targetFields {
      margin-bottom: 0;
      margin-left: 0;
      width: 100%;
    }
  }
}
