.toggleTargetFields {
  margin-bottom: 20px;
  width: 100%;

  .labelBox {
    width: 50%;

    .customLabel {
      margin-bottom: 0;
    }
  }

  .targetFields {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50%;
  }
}
