.exchangeAccountTopBar {
  background-image: $greyDarkGradient;
  border-radius: 4px;
  height: 80px;
  padding: 24px;
  padding-bottom: 16px;

  &.active {
    background-image: linear-gradient(94deg, $purple 5%, $purpleMedium 96%);
  }

  .selected {
    color: $lightWhite;
    font-size: 11px;
    height: 13px;
    letter-spacing: 0.42px;
    line-height: 1.18;
    opacity: 0.6;
    text-transform: initial;
    width: 49px;
  }

  .accountName {
    padding-left: 16px;

    h3 {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .linkOn {
      color: $green;
      height: 28px;
      margin-left: 15px;
      width: 28px;
    }

    .linkOff {
      color: $red;
      height: 28px;
      margin-left: 15px;
      width: 28px;
    }
  }

  h3 {
    color: $white;
    font-weight: 700;
  }

  .customButton {
    height: 40px;
    margin-left: 32px;
    width: auto;
  }

  .textPurple {
    background: $white;
  }

  .textDefault {
    color: $white;
  }
}

@include media("<=sm") {
  .exchangeAccountTopBar {
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 10px 5px;

    .actionsBox {
      width: 100%;
    }

    .customButton {
      margin: 0 10px 0 0;
      min-width: auto;
    }
  }
}
