.expandedRows {
  width: 100%;

  td {
    font-size: 14px;
    font-weight: 500;
    min-width: 80px;
    padding: 12px;
    white-space: nowrap;
  }

  .checkboxCell {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
