.balancePage {
  width: 100%;

  .equityBox {
    min-height: 270px;
    width: 62%;
  }

  .cryptoBox {
    min-height: 250px;
    width: 38%;
  }

  .balanceBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin-top: 30px;
    min-height: 80px;
    width: 100%;
  }

  .historyBox {
    margin-top: 30px;
    min-height: 300px;
    width: 100%;
  }
}

@include media("<=sm") {
  .balancePage {
    align-items: flex-start;
    flex-direction: column;

    .balanceBox {
      box-shadow: none;
    }

    .equityBox {
      width: 100%;
    }

    .cryptoBox {
      min-height: 200px;
      width: 100%;
    }
  }
}
