@import '../../../styles/variables.sass';

.balancePage
    width: 100%;
    .equityBox
        width: 62%;
        min-height: 300px;
    .cryptoBox
        width: 38%;
        min-height: 300px;
    .balanceBox
        margin-top: 30px;
        width: 100%;
        box-shadow: 0 2px 8px 0 rgba(64, 50, 79, 0.2);
    .historyBox
        width: 100%;
        min-height: 300px;
        margin-top: 30px;
@media only screen and (max-width: 600px)
    .balancePage
        flex-direction: column;
        align-items: flex-start;
        .balanceBox
            box-shadow: none;
        .equityBox
            width: 100%;
        .cryptoBox
            min-height: 200px;
        .cryptoBox
            width: 100%;