@import '../../../styles/variables.sass';
@import url(../../../styles/fonts.sass);

.balancePage
    .equityBox
        width: 60%;
        min-height: 300px;
    .cryptoBox
        width: 40%;
        min-height: 300px;
    .balanceBox
        width: 100%;
        min-height: 100px;
        box-shadow: 0 2px 8px 0 rgba(64, 50, 79, 0.2);