.winRate {
  background-color: $greyBackground;
  border-radius: 2px;
  height: 16px;
  width: 104px;

  .bar {
    border-radius: 2px;
    height: 100%;
    transition: "all .2s ease-out";
    width: 100%;
  }

  .pink {
    background-color: $pink;
  }

  .yellow {
    background-color: $yellow;
  }

  .green {
    background-color: $green;
  }
}
