.connectedProvidersSummary {
  position: absolute;
  height: 100%;

  .boxTitle {
    margin: 0 36px;
    height: 48px;

    h3 {
      font-family: "PlexSans-Regular";
      text-transform: initial;
    }

    h6 {
      color: $purple;
      padding-left: 16px;
    }

    a {
      text-decoration: none;
    }
  }

  .scrollCards {
    height: calc(100% - 22px);
    overflow-y: auto;
  }

  .traderMiniCard {
    margin: 7px 36px;
  }

  .customButton {
    margin-top: 7px;
    border: 2px solid $purple;
    margin: 0 36px;
  }
}
