.connectedProvidersSummary {
  height: 100%;
  left: 0;
  max-width: 440px;
  position: absolute;
  right: 0;

  @include media("<=sm") {
    position: static;

    .traderMiniCard {
      margin: 7px 0;
      width: calc(100% - 8px);
    }

    .customButton {
      width: auto;
    }
  }

  a {
    text-decoration: none;
  }

  .boxTitle {
    height: 40px;
    margin: 0 36px;

    h3 {
      font-weight: 400;
      text-transform: initial;
    }

    h6 {
      color: var(--purple);
      padding-left: 16px;
    }
  }

  .scrollCards {
    height: calc(100% - 18px);
    overflow-y: auto;
  }

  .traderMiniCard {
    margin: 7px 28px;
    min-height: 80px;
    min-width: 310px;
    width: calc(100% - 28 * 2px);
  }

  .customButton {
    border: 2px solid var(--purple);
    margin: 0 36px;
    margin-top: 7px;
  }
}
