.notificationsSettings {
  > .loader {
    margin: 50px;
  }

  > p {
    margin-bottom: 24px;
  }

  label {
    &:last-child {
      margin-bottom: 24px;
    }
  }

  .updateButton {
    min-width: 120px;
  }

  .codeInfo {
    margin-bottom: 18px;
  }

  .inputBox {
    margin-bottom: 0;

    .customInput {
      width: auto;
    }
  }

  .telegramButton {
    margin-bottom: 18px;
  }
}
