.reduceStrategyPanel {
  .entryType {
    flex: 0 0 100%;

    [role="radiogroup"] {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    svg {
      width: 18px;
    }
  }

  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .customSelect {
      margin-left: 0;

      [role="button"] {
        padding: 0 10px;
      }
    }

    .targetPrice,
    .targetUnits {
      justify-content: space-between;

      > :nth-child(1) {
        flex: 0 0 100%;
      }

      > :nth-child(2) {
        flex: 0 0 40%;
      }

      > :nth-child(3) {
        flex: 0 0 calc(60% - 15px);
      }
    }
  }

  .tpsWarning {
    margin-top: 12px;
    padding: 5px;
  }
}
