%position-table-base {
  .actions {
    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
    }

    svg {
      margin: 0 10px 0 0;

      @include media("<=sm") {
        margin: 0 7px 0 0;
      }
    }

    [role="progressbar"] {
      margin: 0;
      svg {
        margin: 0;
      }
    }
  }

  .externalLink {
    margin-left: 10px;

    svg {
      width: 20px;
    }
  }

  .loss {
    color: $red;
  }

  .gain {
    color: $green;
  }

  %target-base {
    border-radius: 10px;
    color: $white;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    padding: 1px;
    text-align: center;
    width: 22px;
  }

  .targetRed {
    @extend %target-base;
    background-color: $red;
  }

  .targetGreen {
    @extend %target-base;
    background-color: $green;
  }

  .targetGray {
    @extend %target-base;
    background-color: $darkGrey;
  }

  .symbol {
    display: inline-block;
    margin-right: 5px;
  }

  .name {
    color: $purple;
    text-decoration: none;
  }
}

.positionTable {
  @extend %position-table-base;
}

.positionsTable {
  @extend %position-table-base;

  [role="toolbar"] {
    padding: 0;

    > :last-child {
      background: $transparentBackground;
      border-bottom: 1px solid $borderColor;
      box-sizing: boorder-box;
      margin-bottom: 16px;
      min-height: 70px;
      padding: 10px 25px;
      width: 15%;

      @include media("<=sm") {
        margin-bottom: 0;
        width: 100%;
      }
    }

    > :first-child {
      padding: 0;
      width: 85%;

      @include media("<=sm") {
        margin-bottom: 0;
        width: 100%;

        .customFilters {
          margin-bottom: 0;
        }
      }
    }
  }
}

.loadingBox {
  min-height: 300px;
  width: 100%;
}
