@import '../../../styles/variables.sass';
@import url('../../../styles/variables.sass');

.positionsTable
    width: 100%;
    padding: 10px;

    .tableBox
        width: 100%;
        min-height: 400px;
        .table
            width: 100%;
            .head
                .row
                    .cell
                        border-bottom: none !important;
                        font-size: 11px;
                        font-family: 'PlexSans-Medium';
                        text-transform: capitalize;
            .body
                .row
                    .cell
                        border-bottom: none !important;
                        font-size: 14px;
                        font-family: 'PlexSans-Light';
                        text-transform: capitalize;
