.positionsTable {
  .actions {
    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin: 0 10px;

      @include media("<=sm") {
        margin: 0 7px 0 0;
      }
    }

    svg {
      pointer-events: none;
    }
  }

  .loss {
    color: $red;
  }

  .gain {
    color: $green;
  }

  %target-base {
    border-radius: 10px;
    color: $white;
    display: inline-block;
    height: 22px;
    padding: 1px;
    text-align: center;
    width: 22px;
  }

  .targetRed {
    @extend %target-base;
    background-color: $grey;
  }

  .targetGreen {
    @extend %target-base;
    background-color: $green;
  }

  .targetGray {
    @extend %target-base;
    background-color: $darkGrey;
  }

  .symbol {
    display: inline-block;
    margin-right: 5px;
  }
}
