@import '../../../styles/variables.sass';
@import url('../../../styles/variables.sass');

.positionsTable
    width: 100%;
    padding: 0 10px;

    .tableBox
        width: 100%;
        min-height: 300px;
        .table
            width: 100%;
            .head
                .row
                    .cell
                        border-bottom: none !important;
                        font-size: 11px;
                        font-family: 'PlexSans-Medium';
                        text-transform: capitalize;
                        padding: 8px 12px;
                        height: 60px;
            .body
                .row
                    .cell
                        font-size: 14px;
                        font-family: 'PlexSans-Medium';
                        text-transform: capitalize;
                        padding: 12px;
                        height: 60px;
                        border-bottom: 1px solid $borderColor;
