.connectExchangeViewHead {
  width: 100%;

  .actionBar {
    .userExchangeList {
      margin-left: auto;
    }
  }
}

@include media("<=sm") {
  .connectExchangeViewHead {
    width: 100%;

    .actionBar {
      .textPurple {
        min-width: 100%;
      }
    }
  }
}
