.connectExchangeViewHead {
  width: 100%;

  .actionBar {
    .userExchangeList {
      margin-left: 24px;
    }

    .customInput.searchInput {
      height: 36px;
      margin: 12px 0 12px auto;
      width: 250px;

      > div {
        height: 100%;
      }
    }  
  }
}

@include media("<=sm") {
  .connectExchangeViewHead {
    width: 100%;

    .actionBar {
      .customInput.searchInput {
        margin: 12px 10px 12px 0;
        width: 100%;
      }  
  
      .textPurple {
        width: calc(50% - 20px);
      }
    }
  }
}
