.socialLink {
  .icon {
    color: $purple;
    cursor: pointer;
    height: 39px;
    width: 39px;
  }
}

@include media("<=sm") {
  .socialLink {
    .icon {
      height: 30px;
      width: 30px;
    }
  }
}
