@import "../../../styles/variables.scss";

@import url("../../../styles/fonts.scss");

.positionFilters {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: boorder-box;
  height: 70px;
  margin-bottom: 16px;
  padding: 0 25px;
  width: 100%;

  .filters {
    width: calc(100% - 250px);

    .title {
      color: $purple;
      font-family: "PlexSans-Medium";
      font-size: 16px;
    }
  }

  .actions {
    width: 250px;
  }
}
