@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.positionFilters
    width: 100%;
    height: 70px;
    box-sizing: boorder-box;
    margin-bottom: 16px;
    padding: 0 25px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    background: rgba(0,0,0, 0.05);

    .filters
        width: calc(100% - 250px);
        .title
            font-size: 16px;
            color: $purple;
            font-family: 'PlexSans-Medium';
    .actions
        width: 250px;