.securitySettings {
  margin-top: 15px;
  width: 216px;

  .inputBox {
    margin-bottom: 24px;
  }

  img {
    cursor: pointer;
    height: 24px;
    margin: 34px -24px 0 8px;
    width: 24px;
  }
}
