.securitySettings {
  margin-top: 15px;
  width: 216px;
  position: relative;

  form {
    width: 100%;
  }

  img {
    cursor: pointer;
    height: 24px;
    margin: 34px -24px 0 8px;
    width: 24px;
  }

  .inputBox,
  .passwordBox {
    > div {
      width: 100%;
    }
  }

  .customButton {
    min-width: 100%;
    margin: 8px 0 56px;
  }
}
