.loginLinks {
  border-bottom: 2px solid $borderColor;
  width: 100%;

  .loginLinkItem {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: row;
    font-size: 21px;
    font-weight: 700;
    height: 70px;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
  }

  .activeLink {
    border-bottom: 2px solid $purple;
  }
}

@include media("<=sm") {
  .loginlinks {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
  }
}
