.providerUserOptions {
  .optionLabel {
    align-items: center;
    display: flex;
    flex-direction: row;

    svg {
      color: $darkGrey;
      height: 18px;
      margin-left: 5px;
      width: 18px;
    }
  }

  .listBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .customLabel {
      width: 100%;
    }
  }
}
