.copyTraderButton {
  .submitButton {
    margin-right: 40px;
    min-width: 215px;
  }

  .actionHelpBox {
    width: fit-content;
    margin-right: 20px;

    h4 {
      margin-right: 10px;
      font-family: "PlexSans-Bold";
    }
  }
}
