@import '../../styles/variables.sass'

.password-strength
    background: rgba($color: #000, $alpha: 0.9)
    border: 1px solid $white
    border-radius: 4px
    box-sizing: border-box
    padding: 24px
    position: relative
    width: 264px

    .close-icon
        color: $white
        cursor: pointer
        font-size: 18px
        font-weight: 600
        position: absolute
        right: 1rem
        top: 1rem

    .title
        color: $white
        font-family: 'PlexSans-Medium'
        font-size: 16px
        letter-spacing: .5px
        margin-bottom: 10px
        &.last
            margin-top: 10px

    .text
        color: $white
        font-family: 'PlexSans-Light'
        font-size: 14px

    .strength
        width: 100%
        .bar
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(99deg, var(--dark) 5%, #5b5b68 96%)
            border-radius: 4px
            height: 8px
            width: 50px
            &.green
                background-image: linear-gradient(99deg, #00b589, #19c959 96%)

            &.yellow
                background-image: linear-gradient(99deg, #b5b200, #c9af19 96%)

            &.red
                background-image: linear-gradient(99deg, #b52a00, #c91919 96%)
