.copyTradersLayout
    width: 1055px;
    .titleBox
        box-sizing: border-box;
        margin-bottom: 46px;
    h1
        margin-bottom: 8px;
    .subHeader
        margin: 0;
    .pageContent
        width: 100%;
        min-height: 400px;
        margin-bottom: 30px;
    .faq
        width: 100%;
