.twoFAForm {
  min-height: inherit;
  padding: 40px 20px;
  width: 100%;

  .boxTitle {
    margin-bottom: 40px;
  }

  .inputBox {
    margin-bottom: 40px;
    width: 100%;
  }

  .link {
    color: $purple;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .codeInput {
    text-align: center;
    width: auto;
  }
}

@include media("<=sm") {
  .twoFAForm {
    width: 100%;
    padding: 30px 10px;

    .inputBox {
      width: 90%;
    }

    h3 {
      font-size: 21px;
      margin-bottom: 20px;
    }

    .codeInput {
      width: 100% !important; // scss-lint:disable ImportantRule

      input {
        height: 44px;
        max-width: 16.66%;
        width: 46px;
      }
    }
  }
}
