.twoFAForm {
  padding: 60px 75px;

  .unknownDeviceBox:not(:first-child) {
    margin-top: 52px;
  }

  h3 {
    font-size: 27px;
    margin-bottom: 40px;
  }

  .customLabel {
    text-transform: capitalize;
  }

  .inputBox {
    margin-bottom: 40px;
    width: fit-content;
  }

  .link {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .codeInput {
    text-align: center;
    width: auto;
  }
}

@include media("<=sm") {
  .twoFAForm {
    padding: 60px 12px;

    .codeInput {
      input {
        max-height: 46px;
        max-width: 43px;
      }
    }
  }
}
