$black: #191927;

$black2: #1b1b2c;

$purple: #770fc8;

$purpleLight: #a946f6;

$purpleMedium: #a25cd9;

$purpleDark: #4e07da;

$purpleDarkest: #0707b7;

$green: #08a441;

$pink: #f63f82;

$yellow: #f6ad3f;

$white: #fff;

$red: #f00;

$lightGrey: #d4d4d4;

$blue: #017aff;

$borderColor: rgba(0, 0, 0, .1);

$boxShadowColor: rgba(64, 34, 95, .2);

$transparentBackground: rgba(0, 0, 0, .05);

$passwordStrengthBackground: rgba(0, 0, 0, .9);

$purpleLightGradient: linear-gradient(to right, $purple, $purpleMedium);

$purpleDarkGradient: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), linear-gradient(134deg, $purpleDarkest 8%, $purpleDark 98%);

$greenGradient: linear-gradient(to right, #00b589, #19c959 98%);

$pinkGradient: linear-gradient(to right, #c12860 8%, #f63f82 98%);

$greyGradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

$yelloGradient: linear-gradient(99deg, #b5b200, #c9af19 96%);

$redGradient: linear-gradient(99deg, #b52a00, #c91919 96%);
