$black: #191927;

$black2: #1b1b2c;

$purple: #770fc8;

$purpleLight: #a946f6;

$green: #08a441;

$pink: #f63f82;

$yellow: #f6ad3f;

$white: #fff;

$red: #f00;

$lightGrey: #d4d4d4;

$blue: #017aff;

$purpleLightGradient: linear-gradient(to right, #770fc8, #a25cd9);

$purpleDarkGradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(134deg, #0707b7 8%, #4e07da 98%);

$greenGradient: linear-gradient(to right, #00b589, #19c959 98%);

$pinkDarkGradient: linear-gradient(to right, #c12860 8%, #f63f82 98%);

$greyGradient: linear-gradient(to right, #191927 8%, #5b5b68 98%);

$borderColor: rgba(0, 0, 0, 0.1);
