$black: #191927;

$lighterBlack: #1b1b2c;

$lightestBlack: #27273f;

$borderColor: rgba(0, 0, 0, 0.1);

$lighterBlackBorder: #3e3946;

$lightBlackBorder: rgba(64, 57, 70, 0.37);

$purple: #770fc8;

$purpleLight: #aa46f6;

$purpleMedium: #a25cd9;

$purpleDark: #4e07da;

$purpleDarkest: #0707b7;

$green: #09180f;

$green2: #00b589;

$green3: #19c959;

$greenChartBottom: #e5f8ed;

$darkGreenChartBottom: #181e26;

$pink: #f63f82;

$pink2: #c12860;

$yellow: #f6ad3f;

$yellow2: #b5b200;

$yellow3: #c9af19;

$white: #fff;

$red: #f63f82;

$red2: #b52a00;

$red3: #c91919;

$redChartBottom: #fcecf3;

$darkRedChartBottom: #1f1827;

$lightGrey: #d4d4d4;

$blue: #017aff;

$darkGrey: #808080;

$mediumGrey: rgba(0, 0, 0, 0.03);

$mediumDarkGrey: rgba(0, 0, 0, 0.08);

$darkLightGrey: rgba(0, 0, 0, 0.135);

$darkestGrey: #5b5b68;

$paleGrey: #fbfafc;

$grey: rgba(255, 255, 255, 0.2);

$greyBackground: #b6c5de;

$lightWhite: rgba(255, 255, 255, 0.94);

$boxShadowColor: rgba(64, 34, 95, 0.2);

$transparentBackground: rgba(0, 0, 0, 0.05);

$passwordStrengthBackground: rgba(0, 0, 0, 0.9);

$themeSwitcherBackground: #141521;

$purpleLightGradient: linear-gradient(to right, $purple, $purpleMedium);

$purpleDarkGradient: linear-gradient(to bottom, $grey, $grey),
  linear-gradient(102deg, $purpleDarkest 5%, $purpleDark 96%);

$greenGradient: linear-gradient(to right, $green2, $green3 98%);

$pinkGradient: linear-gradient(to right, $pink2 8%, $pink 98%);

$greyGradient: linear-gradient(to bottom, $grey, $grey);

$yelloGradient: linear-gradient(99deg, $yellow2, $yellow3 96%);

$redGradient: linear-gradient(99deg, $red2, $red3 96%);

$purpleDarkGradient: $greyGradient, linear-gradient(134deg, $purpleDarkest 8%, $purpleDark 98%);

$greyDarkGradient: $greyGradient, linear-gradient(94deg, $black 5%, $darkestGrey 96%);
