@import url('./fonts.sass');
@import './variables.sass';

html
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

html::-webkit-scrollbar
                width: 0;
                height: 0;

body
    margin: 0;

.pageTitle
    font-size: 33px;
    font-family: 'PlexSans-Bold';
    margin: 0;
    line-height: 36px;

.boxTitle
    font-size: 24px;
    font-family: 'PlexSans-Medium';
    margin: 0;
    line-height: 24px;

.regularHeading
    font-weight: normal !important;
    font-family: 'PlexSans-Regular' !important;

.subHeader
    font-family: 'PlexSans-Regular';
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.68px;
    opacity: 0.7;
    font-weight: normal;

.callout2
    font-family: 'PlexSans-Bold' !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.53px !important;

.callout1
    font-family: 'PlexSans' !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.53px !important;

.hideScroll
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

.hideScroll::-webkit-scrollbar
    width: 0;
    height: 0;

.selectInput
    min-width: 180px !important;
    height: 40px !important;
    background-image: $purpleLightGradient !important;
    border-radius: 4px;
    div
        height: 40px;
        max-height: 40px !important;
        padding-left: .5rem !important;
        padding-top: .6rem !important;
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        color: $white !important;

        &:before, &:after
            display: none !important;
            border: none !important;
        svg
            color: $white;
            font-size: 28px;
            margin-top: -2px;
    .option
        font-family: 'PlexSans-Bold' !important;
