html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

body {
  margin: 0;
}

.boxTitle {
  font-family: "PlexSans-Medium";
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.hideScroll {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.selectInput {
  background-image: $purpleLightGradient;
  border-radius: 4px;
  height: 40px;

  div {
    color: $white;
    height: 40px;
    max-height: 40px;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0;
    padding-top: 0.6rem;

    &::before,
    &::after {
      border: 0;
      display: none;
    }

    svg {
      color: $white;
      font-size: 28px;
      margin-top: -2px;
    }
  }

  .option {
    font-family: "PlexSans-Bold";
  }
}

// forms related styling in below

.errorText {
  color: $red;
  font-size: 11px;
  margin-top: 8px;
}

.customLabel {
  color: $black;
  font-family: "PlexSans-Regular";
  font-size: 16px;
  margin-bottom: 12px;
}

.customInput {
  height: 32px;
  margin: 0;
  width: 100%;

  div {
    height: 32px;
  }

  & > div {
    padding-right: 10px;
  }
}

.checkboxInput {
  color: $purple;
  margin: 0 0.5rem 0 0;
  padding: 0;

  &.error {
    color: $red;
  }
}

.passwordStrengthBox {
  left: -20px;
  z-index: 1000;

  @media only screen and (max-width: 600px) {
    left: -50px;
    top: -100px;
  }
}

.pointer {
  cursor: pointer;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.callout1 {
  font-family: "PlexSans-Regular";
  font-size: 14px;
  letter-spacing: 0.53px;
  line-height: 1.43;
  margin: 0;
}

.callout2 {
  font-family: "PlexSans-Bold";
  font-size: 14px;
  letter-spacing: 0.53px;
  line-height: 1.43;
  margin: 0;
}
