@import url('./fonts.sass');

body
    margin: 0;
.pageTitle
    font-size: 33px;
    font-family: 'PlexSans-Bold';
    margin: 0;
    line-height: 36px;

.boxTitle
    font-size: 24px;
    font-family: 'PlexSans-Medium';
    margin: 0;
    line-height: 24px;