@import './variables.sass'
@import url('./fonts.sass')

.customInput
    height: 32px
    margin: 0
    width: 100%
    input
        padding: 0 1rem
    div
        height: 32px
    &>div
        padding-right: 10px

.checkboxInput
    color: $purple !important
    margin: 0 .5rem 0 0 !important
    padding: 0 !important
    &.error
        color: $red !important

.customLabel
    color: $black
    font-family: 'PlexSans-Regular'
    font-size: 16px
    margin-bottom: 12px

.text-center
    text-align: center

.passwordStrengthBox
    left: -20px !important
    z-index: 1000

.pointer
    cursor: pointer
