@import './variables.sass';
@import url('./fonts.sass');

.customInput
    width: 100%;
    margin: 0;
    height: 32px;
    input
        padding: 0 1rem;
    div
        height: 32px;
    &>div
        padding-right: 10px;

.checkboxInput
    padding: 0 !important;
    margin: 0 .5rem 0 0 !important;
    color: $purple !important;
    &.error
        color: $red !important;


.customLabel
    font-size: 16px;
    color: $black;
    margin-bottom: 12px;
    font-family: 'PlexSans-Regular';


.text-center
    text-align: center;

.passwordStrengthBox
    z-index: 1000;
    left: -20px !important;

.pointer
    cursor: pointer;
