@import url('./fonts.sass')
@import './variables.sass'

html
    overflow-x: hidden
    overflow-y: scroll
    scrollbar-width: none

html::-webkit-scrollbar
    height: 0
    width: 0

body
    margin: 0

.pageTitle
    font-family: 'PlexSans-Bold'
    font-size: 33px
    line-height: 36px
    margin: 0

.boxTitle
    font-family: 'PlexSans-Medium'
    font-size: 24px
    line-height: 24px
    margin: 0

.regularHeading
    font-family: 'PlexSans-Regular' 
    font-weight: normal 

.subHeader
    font-family: 'PlexSans-Regular'
    font-size: 18px
    font-weight: normal
    letter-spacing: 0.68px
    line-height: 26px
    opacity: 0.7

.callout2
    font-family: 'PlexSans-Bold' 
    font-size: 14px 
    letter-spacing: 0.53px 
    line-height: 20px 

.callout1
    font-family: 'PlexSans' 
    font-size: 14px 
    letter-spacing: 0.53px 
    line-height: 20px 

.hideScroll
    overflow-x: hidden
    overflow-y: scroll
    scrollbar-width: none

.hideScroll::-webkit-scrollbar
    height: 0
    width: 0

.selectInput
    background-image: $purpleLightGradient 
    border-radius: 4px
    height: 40px 
    min-width: 180px 
    div
        color: $white 
        height: 40px
        max-height: 40px 
        padding-bottom: 0 
        padding-left: .5rem 
        padding-right: 0 
        padding-top: .6rem 

        &:before, &:after
            border: 0
            display: none 
        svg
            color: $white
            font-size: 28px
            margin-top: -2px
    .option
        font-family: 'PlexSans-Bold' 
