%body1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.61px;
  line-height: 1.31;
  margin: 0;
}

@mixin text-no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
