html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
}

* {
  /* Hide scrollbar on Edge */
  // -ms-overflow-style: none;

  /* Force thin scrollbar on Firefox */
  scrollbar-width: 0;
}

[data-os="win"] {
  /* Custom scrollbar for Windows */
  ::-webkit-scrollbar {
    height: 16px;
    width: 16px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border: 5px solid var(--background-color);
    border-radius: 100px;

    &:vertical {
      min-height: 30px;
    }

    &:horizontal {
      min-width: 30px;
    }

    &:hover {
      // same color as scrollbar hover background
      border: 5px solid #e8e8e8;
    }

    &:active {
      background: rgba(0, 0, 0, 0.61);
    }
  }
}

.anchor {
  color: $blue;
  margin-top: 5px;
}

[data-theme="dark"] {
  &[data-os="win"] {
    ::-webkit-scrollbar {
      &:hover {
        background-color: #353738;
      }
    }

    ::-webkit-scrollbar-thumb {
      background-color: #909090;

      &:hover {
        border: 5px solid #353738;
      }
    }
  }
}

.boxTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.selectInput {
  border-radius: 4px;
  height: 32px;

  .select {
    > div {
      align-items: center;
      display: flex;
      height: 32px;
      opacity: 1;
      padding: 0 14px;
    }

    svg {
      color: $lightGrey;
    }
  }

  .option {
    font-weight: 700;
  }
}

// forms related styling in below

.errorText {
  color: $red;
  font-size: 11px;
  margin-top: 8px;
}

.customLabel {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;

  &.dark {
    color: $white;
  }

  &.light {
    color: $black;
  }
}

.customInput {
  height: 32px;
  margin: 0;
  width: 100%;

  input {
    height: 32px;
    padding: 0 10px;
  }

  &.error {
    border: 1px solid $red;
  }

  div {
    height: 32px;
  }

  > div {
    padding-right: 10px;
  }

  svg {
    color: $lightGrey;
  }
}

.customTextarea {
  margin: 0;
  width: 100%;

  > div {
    padding-right: 10px;
  }

  fieldset {
    border-color: var(--border-color);
  }
}

.checkboxInput {
  color: $purple;
  margin: 0 0.5rem 0 0;
  padding: 0;

  &.error {
    color: $red;
  }
}

.pointer {
  cursor: pointer;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.callout1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.53px;
  line-height: 1.43;
  margin: 0;
}

.callout2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.53px;
  line-height: 1.43;
  margin: 0;
}

.body1 {
  @extend %body1;
}

.body2 {
  @extend %body1;
  font-weight: 600;
}

.number1 {
  @extend %number1;
}

.number2 {
  @extend %number1;
  font-weight: 600;
}

.number3 {
  font-family: PlexMono;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.46px;
  line-height: 1.75;
  opacity: 0.6;
}

.subHeader {
  font-size: 18px;
  font-weight: 400;
  font-weight: normal;
  letter-spacing: 0.68px;
  line-height: 1.44;
}

.bold {
  font-weight: 600;
}

.userMenu {
  padding: 15px;

  .userMenuItem {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      margin-right: 15px;
    }

    .icon {
      height: 20px;
      margin-left: 2px;
      margin-right: 18px;
      width: 20px;
    }

    .expandIcon {
      height: 24px;
      margin-left: 15px;
      width: 24px;
    }
  }

  .languageBox {
    margin-bottom: 15px;
    padding-left: 40px;
    padding-right: 5px;
    width: 100%;
  }
}

.exchangeListItem {
  height: 36px;
  width: 100%;

  &.selected {
    background-image: $purpleLightGradient;
    color: $white;
  }

  &.action {
    border-top: 1px solid var(--border-color);
    height: 50px;

    img {
      height: 24px;
      width: 24px;
    }
  }

  img {
    margin-right: 10px;
  }

  .name {
    font-weight: 500;
    margin-right: 5px;
    text-transform: capitalize;
  }
}

.link {
  color: var(--purple);
  cursor: pointer;
  text-decoration: none;
}

table {
  a {
    color: var(--purple);
    text-decoration: none;
  }
}

.iconPurple {
  color: $purple;
}

:root {
  --purple: #{$purple};
  --border-color: #{$borderColor};
  --background-color: #{$white};
}

[data-theme="dark"] {
  --purple: #{$purpleLight};
  --border-color: #{$lightBlackBorder};
  --background-color: #{$lighterBlack};

  /* CKEditor */
  /* Helper variables to avoid duplication in the colors. */
  --ck-custom-background: hsl(270, 1%, 29%);
  --ck-custom-foreground: hsl(255, 3%, 18%);
  --ck-custom-border: hsl(300, 1%, 22%);
  --ck-custom-white: hsl(0, 0%, 100%);

  /* Overrides generic colors. */

  --ck-color-base-foreground: var(--ck-custom-background);
  --ck-color-base-background: var(--ck-custom-background);
  --ck-color-focus-border: hsl(208, 90%, 62%);
  --ck-color-text: hsl(0, 0%, 98%);
  --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

  .iconPurple {
    filter: brightness(130%);
  }

  .exchangeListItem {
    background-color: $lightestBlack;

    &.selected {
      background-image: $purpleDarkGradient;
    }
  }

  /* stylelint-disable */
  .react-mde {
    border-color: $lighterBlackBorder;

    .mde-header {
      background-color: $lightestBlack;
      border-color: $lighterBlackBorder;
    }

    svg,
    button,
    .grip {
      color: $lightWhite;
    }

    .mde-tabs button.selected {
      border-color: $lighterBlackBorder;
    }

    .grip {
      background-color: $lightestBlack;
      border-color: $lighterBlackBorder;
    }

    .mde-text {
      background-color: transparent;
      border: 0;
      color: $lightWhite;

      &:focus {
        outline: 1px solid $purpleLight;
      }
    }
  }
  /* stylelint-enable */
}

.positionLink {
  color: var(--purple);
  cursor: pointer;
}

.loadingBox {
  min-height: 500px;
  width: 100%;
}

.textPurple {
  color: var(--purple);
}

// Hide captcha badge
/* stylelint-disable selector-class-pattern */
.grecaptcha-badge {
  visibility: hidden;
}

.disabled {
  cursor: default;
  opacity: 0.5;

  &:active {
    pointer-events: none;
  }
}
