.settingsFormWrapper {
  width: 100%;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  padding: 30px 20px;

  .formBox {
    width: 100%;
  }

  h3 {
    margin-bottom: 30px;
    font-family: "PlexSans-Medium";
  }

  .amountsFormBox {
    margin-right: 20px;
    width: calc(50% - 20px);
    min-height: 500px;
  }

  .strategyFormBox {
    width: 50%;
    min-height: 500px;
  }

  .formAction {
    width: 100%;
    margin-top: 30px;

    .submitButton {
      min-width: 220px;
    }
  }
}
