.settingsFormWrapper {
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  padding: 30px 20px;
  width: 100%;

  .formBox {
    width: 100%;
  }

  h3 {
    margin-bottom: 30px;
  }

  .amountsFormBox {
    margin-right: 20px;
    min-height: 500px;
    width: calc(50% - 20px);
  }

  .strategyFormBox {
    min-height: 500px;
    width: 50%;
  }

  .formAction {
    margin-top: 30px;
    width: 100%;

    .submitButton {
      min-width: 220px;
    }
  }
}
