.cryptoComposition {
  padding: 0 0 0 30px;
  width: 100%;

  h3 {
    font-family: "PlexSans-Bold";
    margin-bottom: 30px;
  }

  .doughnutCanvas {
    width: 100%;
  }
}

@include media("<=sm") {
  .cryptoComposition {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;

    h3 {
      margin-bottom: 30px;
    }
  }
}
