@import "../../../styles/variables.scss";

.cryptoComposition {
  padding: 0 0 0 20px;
  width: 100%;

  .boxTitle {
    margin-bottom: 20px;
  }

  .doughnutCanvas {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .cryptoComposition {
    padding: 0;
    width: 100%;

    .boxTitle {
      margin-bottom: 30px;
    }

    .doughnutCanvas {
      width: 100%;
    }
  }
}
