@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.cryptoComposition
    width: 100%;
    padding: 0 0 0 20px;
    .boxTitle
        margin-bottom: 20px;
        font-family: 'PlexSans-Bold';

    .doughnutCanvas
        width: 100% !important;