@import '../../../styles/variables.sass';

.cryptoComposition
    width: 100%;
    padding: 0 0 0 20px;
    .boxTitle
        margin-bottom: 20px;

    .doughnutCanvas
        width: 100% !important;
@media only screen and (max-width: 600px)
    .cryptoComposition
        width: 100%;
        padding: 0;
        .boxTitle
            margin-bottom: 30px;

        .doughnutCanvas
            width: 100% !important;
