.copyPSForm {
  min-height: 300px;
  overflow-y: scroll;
  padding: 0 40px 30px;

  .alert {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 6px 0;

    div {
      padding: 0;
    }

    .alertIcon {
      display: none;
    }

    .helpIcon {
      cursor: pointer;
      font-size: 20px;
      margin-bottom: -3px;
    }
  }

  .formTitle {
    font-weight: 700;
    margin: 64px 0;
    text-align: center;
  }

  .modeTitle {
    margin: 48px 0 24px;
  }

  h4 {
    margin-bottom: 20px;
    max-width: 80%;
    text-align: center;
    text-transform: initial;
  }

  .para {
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
  }

  .fieldBox {
    margin-bottom: 20px;
    width: 100%;
  }

  .customLabel {
    text-align: center;
    width: 100%;
  }

  .customInput {
    margin-top: 11px;
  }

  .modeButtons {
    padding: 0 40px 64px;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .inputBox {
    width: 300px;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 5px;
      text-align: center;
      width: 100%;
    }
  }

  .labeledInputsBox {
    margin-bottom: 20px;
    width: 80%;

    span {
      border: 2px solid $purple;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      padding: 10px;
      text-align: center;
      width: 50%;

      &.checked {
        background: $purple;
        color: $white;
      }
    }
  }

  .customTextarea {
    margin-bottom: 30px;

    > div {
      padding: 10px;
    }
  }
}

@include media("<=sm") {
  .copyTraderForm {
    padding: 0 15px 30px;

    .alert {
      * {
        font-size: 14px;
      }
    }

    .formTitle {
      font-size: 18px;
      max-width: 100%;

      &.noMargin {
        margin-top: 0;
      }
    }

    .para {
      font-size: 14px;
      width: 100%;
    }

    h4 {
      font-size: 14px;
      max-width: 100%;
    }

    p {
      width: 100%;
    }

    .fieldBox {
      .inputBox {
        width: 100%;
      }
    }

    .customLabel {
      font-size: 14px;
    }

    .inputBox {
      width: 100%;

      .text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
        text-align: center;
        width: 100%;
      }
    }
  }
}
