.userFilters {
  width: 100%;

  .customSelect {
    margin-right: 30px;
  }
}

@include media("<=sm") {
  .userFilters {
    flex-wrap: wrap;
    justify-content: space-between;

    .customSelect {
      margin-bottom: 10px;
      margin-right: 0;

      label {
        display: none;
      }
    }
  }
}
