.createTraderForm {
  padding: 32px 24px 0;

  .helpIcon {
    font-size: 18px;
    margin-left: 5px;
  }

  .customLabel {
    align-items: center;
    display: flex;
    font-weight: 700;
  }

  .loaderBox {
    margin: 0 auto;
  }

  .subHeader {
    margin-top: 8px;
    opacity: 0.6;
  }

  .model {
    cursor: pointer;
    margin: 20px 20px 10px 0;

    p {
      margin-left: 10px;
    }

    &:last-child {
      margin: 20px 0 10px;
    }

    .iconButton {
      margin: 0;
      min-height: 65px;
      min-width: 65px;
      padding: 3px;
    }
  }

  .iconButton {
    align-items: center;
    border: solid 2px transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: center;
    margin: 15px 15px 15px 0;
    padding: 4px;
    width: 65px;

    &:last-child {
      margin: 15px 0;
    }

    &.selected {
      border-color: var(--purple);
    }

    &.fee {
      img {
        background: $black;
        border-radius: 100%;
        height: 100%;
        padding: 2px;
        width: 100%;
      }
    }

    .exchangeIcon {
      cursor: pointer;
      height: 55px;
      width: 55px;
    }
  }

  .exchangeIconBox {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    width: 100%;
  }

  .customInput {
    max-width: 260px;
  }

  .customSelect {
    align-items: start;
  }

  .step1 {
    border-right: solid 1px var(--border-color);
    padding-right: 12px;
    width: 29%;
  }

  .exchangeChoose {
    margin-top: 12px;
  }

  .name {
    margin-bottom: 24px;
    width: 250px;

    .accountLabel {
      margin-bottom: 33px;
    }
  }

  .inputBox {
    margin-bottom: 32px;

    .quotesLoading {
      align-items: flex-end;
      display: flex;
      justify-content: center;
      min-height: 60px;
      min-width: 150px;
    }
  }

  .step2 {
    border-right: solid 1px var(--border-color);
    padding: 0 42px;
    width: 44%;

    .title {
      margin-bottom: 18px;
    }

    label {
      margin-bottom: 12px;

      > p {
        font-size: 16px;
      }
    }

    .minAllocatedBalance {
      max-width: 150px;
    }

    .tip {
      margin-bottom: 12px;
    }
  }

  .typeButtons {
    margin-bottom: 32px;
    width: 100%;

    button {
      flex: 1;
    }
  }

  .step3 {
    padding-left: 42px;
    width: 27%;

    h3 {
      margin-bottom: 18px;
    }
  }
}

@include media("<=sm") {
  .createTraderForm {
    form {
      flex-direction: column;
      padding: 24px 10px 72px;
    }

    .boxWrapper {
      flex-direction: column;
    }

    .customButton {
      width: 100%;
    }

    .step1 {
      border: 0;
      padding-right: 0;
      width: 100%;
    }

    .step2 {
      border: 0;
      margin-top: 14px;
      padding: 0;
      width: 100%;
    }

    .actionStep2 {
      align-items: flex-start;
      flex-direction: column;
    }

    .step3 {
      padding: 0;
      width: 100%;
    }
  }
}
