@import '../../../styles/variables.sass';

.create-trader-form
    width: 100%;
    padding: 15px;
    .title
        font-size: 24px;
        font-family: 'PlexSans-Medium';

    .tagline
        font-size: 14px;
        font-family: 'PlexSans-Light';
        margin-bottom: 40px;


    &.dark
        background: $black;
        *
            color: $white;

        .form
            labelcolor: $white;
            .input-box
                .custom-input
                    input
                        color: $white;

                    fieldsetborder-color: $white;

                .custom-label
                    color: $white;


            .select-box
                .select-input
                    input
                        color: $white;

                    fieldsetborder-color: $white;
                    svgcolor: $white;





    .form
        width: 100%;
        .input-box
            width: 250px;
            margin-bottom: 20px;
            .custom-input
                width: 100%;
                margin: 0;
                height: 40px;
                input
                    padding: 0 1rem;

                div
                    height: 40px;

                &>div
                    padding-right: 0;


            .custom-label
                margin-bottom: 8px;


        .select-box
            width: 160px;
            margin-bottom: 20px;
            .select-input
                width: 100%;
                margin: 0;
                height: 40px;
                input
                    padding: 0 1rem;

                &>div
                    height: 40px;




    .button-box
        width: 200px;
        margin-top: 2rem;

    .error-text
        color: $red;
        font-size: 11px;
