.leverageForm {
  min-height: 300px;
  padding: 20px;

  .title {
    margin-bottom: 40px;
    text-align: center;
  }

  .slider {
    margin-top: 20px;

    :first-child {
      height: 4px;
    }

    .thumb {
      background: $purpleLight;
      border: 3px solid $purple;
      height: 15px;
      width: 15px;
    }

    .mark {
      background-color: $purple;
      border-radius: 100%;
      height: 8px;
      margin-top: -2px;
      width: 8px;
    }

    .track {
      height: 4px;
    }

    .markLabel {
      font-size: 12px;
    }
  }

  .mode {
    margin: 28px 0;
  }

  .textDefault,
  .submitButton {
    min-height: 40px;
    min-width: 180px;
  }

  .errorText {
    display: block;
    text-align: center;
    width: 100%;
  }

  .inputValue {
    margin: 0 auto;
    width: 100%;

    button {
      border: 0;
      color: $purple;
      cursor: pointer;
      font-size: 25px;
      font-weight: bold;
      height: 36px;
      padding: 0;
      width: 36px;

      &:focus {
        outline: none;
      }

      &.dark {
        background: $black;
      }

      &.light {
        background: $darkLightGrey;
      }
    }

    input {
      border: 0;
      font-size: 25px;
      height: 36px;
      padding: 5px;
      text-align: center;
      width: calc(100% - 90px);

      &:focus {
        outline: none;
      }

      &.dark {
        background-color: $black;
        color: $white;
      }

      &.light {
        background-color: $darkLightGrey;
        color: $black;
      }
    }
  }
}

@include media("<=sm") {
  .leverageForm {
    min-height: 350px;

    .textDefault,
    .submitButton {
      min-height: 40px;
      min-width: 120px;
    }
  }
}
