.exchangeAccountDetails {
  width: 100%;

  .accountInfoHeader {
    height: 80px;
    border-radius: 4px;
    background-image: linear-gradient(94deg, $purple 5%, $purpleMedium 96%);
    padding: 24px;
    padding-bottom: 16px;
  }

  h3 {
    font-family: "PlexSans-Bold";
    color: $white;
    padding-left: 16px;
  }

  .customButton {
    margin-left: 32px;
    height: 40px;
  }

  .textPurple {
    background: $white;
  }

  .textDefault {
    color: $white;
  }

  .exchangeAccountInfo {
    padding: 0 24px 12px;
  }
}
