@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.header
    width: 100%;
    height: 74px;
    box-sizing: boorder-box;
    padding: 16px 32px;

    .headerLogo
        width: 106px;
        height: 42px;
        margin: 0 16px 0 0;

    .linksContainer
        .linkBox
            padding: 0 12px;
            .icon
                widows: 32px;
                height: 32px;
                font-size: 28px
        .balanceContainer
            .iconBox
                width: 40px;
                height: 44px;
                &:last-child
                    width: 100px;
                .expandIcon
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                .title
                    font-size: 14px;
                    font-family: 'PlexSans-Bold';
                    color: inherit;
                    text-transform: uppercase;
            .box
                width: 140px;
                height: 40px;
                &:first-child
                    width: 160px;
                &:last-child
                    width: 100px;
                .title
                    font-size: 11px;
                    font-family: 'PlexSans-Bold';
                    color: inherit;
                    text-transform: uppercase;
                .balance
                    font-size: 14px;
                    font-family: 'PlexSans-Regular';
                    color: inherit;
                    text-transform: uppercase;