.header {
  box-sizing: boorder-box;
  height: 74px;
  padding: 16px 32px;
  width: 100%;

  .headerLogo {
    height: 50px;
    margin: 0 16px 0 0;
    width: 160px;
  }

  .linksContainer {
    .linkBox {
      margin: 0 12px;

      .providerLogo {
        font-size: 28px;
      }
    }

    .iconOpen {
      cursor: pointer;

      > div {
        display: inline-block;
      }
    }

    .number1,
    .number3 {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .number1 {
      .infinity {
        font-size: 18px;
        height: 18px;
        margin-left: 10px;
      }
    }

    .number3 {
      .infinity {
        font-size: 16px;
        height: 16px;
        margin-left: 8px;
      }
    }

    .balanceWrapper {
      width: fit-content;

      &.full {
        min-width: 450px;
      }

      .iconBox {
        height: 44px;
        width: 40px;

        &:last-child {
          width: 100px;
        }
      }

      .expandIcon {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }

      .balanceContainer {
        margin-right: 40px;
        width: calc(100% - 44px);
      }

      .balanceBox {
        height: 42px;
        margin-right: 20px;
        width: fit-content;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .customButton {
      margin-right: 16px;
    }
  }
}

.popper {
  z-index: 1000;

  .menuWrapper {
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 $boxShadowColor;
    margin-right: 20px;
    margin-top: 10px;
  }
}

[data-theme="dark"] {
  .popper {
    .menuWrapper {
      background-color: $lightestBlack;
    }
  }
}
