.header {
  box-sizing: boorder-box;
  height: 74px;
  padding: 16px 32px;
  width: 100%;

  .headerLogo {
    height: 42px;
    margin: 0 16px 0 0;
    width: 106px;
  }

  .userExchangeList {
    margin-right: 20px;

    .selectInput {
      min-width: 200px;

      .root {
        align-items: center;
        display: flex;
        flex-direction: row;
        min-width: 180px;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;

        img {
          height: 20px;
          margin-right: 10px;
          width: 20px;
        }

        .name {
          font-family: "PlexSans-Medium";
          margin-right: 5px;
          text-transform: capitalize;
        }
      }
    }
  }

  .exchangeListItem {
    &.selected {
      background-image: $purpleLightGradient;
      color: $white;
    }

    img {
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }

    .name {
      font-family: "PlexSans-Medium";
      margin-right: 5px;
      text-transform: capitalize;
    }
  }

  .linksContainer {
    .linkBox {
      padding: 0 12px;

      .icon {
        cursor: pointer;
        font-size: 28px;
        height: 32px;
        widows: 32px;
      }
    }

    .balanceWrapper {
      width: fit-content;

      &.full {
        width: 450px;
      }

      .iconBox {
        height: 44px;
        width: 40px;

        &:last-child {
          width: 100px;
        }

        .expandIcon {
          cursor: pointer;
          height: 24px;
          width: 24px;
        }
      }

      .balanceBox {
        height: 42px;
        width: 140px;

        &:first-child {
          width: 160px;
        }

        &:last-child {
          width: 100px;
        }

        .balance {
          text-transform: uppercase;
        }
      }
    }
  }
}
