.header {
  box-sizing: boorder-box;
  height: 74px;
  padding: 16px 32px;
  width: 100%;

  .headerLogo {
    height: 42px;
    margin: 0 16px 0 0;
    width: 106px;
  }

  .linksContainer {
    .linkBox {
      margin: 0 12px;

      .icon {
        font-size: 28px;
        height: 32px;
        widows: 32px;
      }

      .iconOpen {
        cursor: pointer;
      }
    }

    .balanceWrapper {
      width: fit-content;

      &.full {
        min-width: 450px;
      }

      .iconBox {
        height: 44px;
        width: 40px;

        &:last-child {
          width: 100px;
        }
      }

      .expandIcon {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }

      .balanceContainer {
        margin-right: 40px;
        width: calc(100% - 44px);
      }

      .balanceBox {
        height: 42px;
        width: fit-content;
      }
    }
  }
}

.popper {
  z-index: 1000;

  .menuWrapper {
    box-shadow: 0 10px 20px 0 $boxShadowColor;
    margin-right: 20px;
    margin-top: 10px;
  }
}
