.mobileHeader {
  box-sizing: border-box;
  min-height: 50px;
  padding: 16px;
  width: 100%;

  .headerButton {
    height: 40px;
    margin: 0;
    min-width: 100%;
  }

  .userExchangeList {
    margin-right: 20px;

    .selectInput {
      .root {
        max-width: 180px;

        .name {
          text-transform: capitalize;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .connectedBox {
    width: 100%;

    .actionBox {
      height: 44px;
      width: 100%;

      .expandIcon {
        height: 24px;
        margin-right: 5px;
        width: 24px;
      }

      .iconBox {
        padding-right: 15px;
      }
    }

    .balanceContainer {
      margin-top: 15px;
      width: 100%;

      .balanceBox {
        height: 42px;
        width: fit-content;

        .balance {
          text-transform: uppercase;

          &.red {
            color: $red;
          }

          &.green {
            color: $green;
          }
        }
      }
    }
  }
}
