.mobileHeader {
  box-sizing: border-box;
  min-height: 50px;
  padding: 16px 16px 0;
  width: 100%;

  .headerButton {
    height: 40px;
    margin: 0;
    min-width: 100%;
  }

  .mobileExchangeList {
    height: 40px;
    margin-right: 10px;
    width: 220px;
    z-index: 1002;

    .currentSelectionBox {
      background-image: $purpleLightGradient;
      border-radius: 4px;
      color: $white;
      height: inherit;
      padding: 5px 10px;
      width: 100%;

      .name {
        font-size: 14px;
      }

      .exchangeIcon {
        margin-right: 5px;
      }
    }

    .mobileExchangeListDrawer {
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: auto;
      padding: 20px 0 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1002;
    }

    .drawerHeader {
      margin-bottom: 30px;
      padding: 0 15px;
      width: 100%;

      h3 {
        font-weight: 600;
        width: fit-content;
      }

      .closeIcon {
        height: 24px;
        width: 24px;
      }
    }

    .name {
      font-size: 16px;
      font-weight: 500;
      margin-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }

  .connectedBox {
    width: 100%;

    .actionBox {
      height: 44px;
      width: 100%;

      .expandIcon {
        height: 24px;
        margin-right: 5px;
        width: 24px;
      }

      .iconBox {
        padding-right: 15px;
      }
    }

    .balanceContainer {
      margin-top: 15px;
      min-height: 46px;
      width: 100%;

      .balanceBox {
        min-height: 42px;
        width: fit-content;
      }
    }

    .balance {
      text-transform: uppercase;

      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }
    }
  }
}

[data-theme="dark"] {
  .mobileHeader {
    .currentSelectionBox {
      background-image: $purpleDarkGradient;
    }
  }
}
