.mobileHeader {
  box-sizing: border-box;
  min-height: 50px;
  padding: 16px 16px 0;
  width: 100%;

  .headerButton {
    height: 40px;
    margin: 0;
    min-width: 100%;
  }

  .connectedBox {
    width: 100%;

    .actionBox {
      width: 100%;

      .expandIcon {
        height: 24px;
        margin-right: 5px;
        width: 24px;
      }

      .iconBox {
        padding-right: 15px;
      }
    }

    .number1,
    .number3 {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .number1 {
      .infinity {
        font-size: 18px;
        height: 18px;
        margin-left: 10px;
      }
    }

    .number3 {
      .infinity {
        font-size: 16px;
        height: 16px;
        margin-left: 8px;
      }
    }

    .balanceContainer {
      margin-top: 15px;
      min-height: 46px;
      width: 100%;

      .balanceBox {
        min-height: 42px;
        width: fit-content;
      }
    }

    .balance {
      text-transform: uppercase;

      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }
    }
  }
}
