.optionsFormWrapper {
  width: 100%;

  .providerOptionsForm {
    min-height: 200px;
    width: 100%;

    .keyInputBox {
      margin-bottom: 15px;
    }

    .inputBox {
      margin-bottom: 15px;
      width: 100%;

      .checkboxInput {
        margin: 0;
        margin-right: 10px;
      }

      .customLabel {
        margin-bottom: 0;
      }
    }

    .subInputBox {
      margin-left: 5%;
      width: 95%;

      .fieldInputBox {
        margin-bottom: 15px;
        max-width: 280px;
        width: 100%;

        .customLabel {
          margin-bottom: 5px;
        }
      }
    }
  }

  .formAction {
    margin-top: 30px;
    width: 100%;

    .submitButton {
      min-width: 160px;
    }
  }
}

@include media("<=sm") {
  .optionsFormWrapper {
    .providerOptionsForm {
      .inputBox {
        align-items: flex-start;
      }

      .subInputBox {
        margin-left: 10%;
        width: 90%;
      }
    }

    .formAction {
      .submitButton {
        min-width: 100%;
      }
    }
  }
}
