.providersLayout {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 8px;
  min-height: 400px;
  width: 100%;

  .pageContent {
    margin-bottom: 30px;
    min-height: 400px;
    width: 100%;
  }

  .modified {
    color: var(--purple);
    font-weight: 700;
    margin-left: -12px;
    margin-top: 8px;
    opacity: 1;
    position: absolute;
  }

  .faq {
    width: 100%;
  }
}
