.toggleDoubleInput {
  margin-bottom: 20px;
  width: 100%;

  .labelBox {
    width: 50%;

    .customLabel {
      margin-bottom: 0;
    }
  }

  .customLabel {
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 200px;
  }

  .icon {
    height: 16px;
    margin-right: 5px;
    width: 16px;
  }

  .multiInputBox {
    width: 45%;

    .customInput {
      margin-bottom: 5px;
    }
  }
}

@include media("<=sm") {
  .toggleDoubleInput {
    flex-direction: column;

    .labelBox {
      margin-bottom: 5px;
      width: 100%;
    }

    .multiInputBox {
      margin-left: 0;
      width: 100%;

      .customInput {
        margin-bottom: 5px;
      }
    }
  }
}
