.exchangeAccountInfo {
  width: 100%;

  .accountInfoHeader {
    height: 80px;
    border-radius: 4px;
    background-image: linear-gradient(94deg, $purple 5%, $purpleMedium 96%);
  }

  .accountData {
    padding: 24px;
  }

  .equityBox {
    min-height: 270px;
    width: 33%;
  }

  .cryptoBox {
    min-height: 250px;
    width: 33%;
  }

  .balanceBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin-top: 30px;
    width: 100%;
  }
}
