.exchangeAccountForm {
  max-width: 770px;
  padding: 8px 24px;

  .controlWrapper,
  .customSelect {
    margin-bottom: 20px;
    width: 100%;
    min-height: 37px;
  }

  .customSelectControl,
  .customInput {
    width: 100%;
  }

  .customSelect {
    margin: 0 0 20px;

    > span {
      width: 70%;
    }
  }

  .select {
    margin-right: 0;
  }

  label {
    width: 60%;

    svg {
      margin-left: 5px;
    }
  }

  .selectLabel,
  .accountLabel {
    font-family: "PlexSans-Bold";
    font-size: 17px;
    letter-spacing: 0.53px;
    line-height: 1.43;
    margin: 0;
  }

  .switch {
    margin-right: 10px;
  }

  .textareaWrapper {
    align-items: flex-start;

    > div {
      align-items: flex-start;
    }

    .customInput {
      height: 100px;
      align-items: flex-start;
    }
  }
}

@include media("<=sm") {
  .exchangeAccountForm {
    align-items: center;
    width: 100%;
    padding: 8px 12px;

    .controlWrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    label,
    .customSelect > span {
      //   align-items: center;
      //   flex-direction: column-reverse;
      margin: 0 0 10px;
      width: auto;
      //   padding: 0 10px;
    }

    // .selectLabel,
    // .accountLabel {
    //   width: auto;
    //   text-align: center;
    // }
  }
}
