.exchangeAccountForm {
  max-width: 770px;
  padding: 8px 24px;

  .controlWrapper,
  .customSelect {
    margin-bottom: 20px;
    min-height: 37px;
    width: 100%;
  }

  .customSelectControl,
  .customInput {
    width: 100%;

    textarea {
      height: 120px;
      overflow: auto;
    }
  }

  .customSelect {
    margin: 0 0 20px;

    > span {
      width: 60%;
    }
  }

  .select {
    margin-right: 0;
  }

  label {
    width: 60%;

    &[for="testNet"] {
      width: 36%;
    }

    svg {
      margin-left: 5px;
    }
  }

  .selectLabel,
  .accountLabel {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.53px;
    line-height: 1.43;
    margin: 0;
  }

  .switch {
    margin-right: 10px;
  }

  .textareaWrapper {
    align-items: flex-start;

    > div {
      align-items: flex-start;
    }

    .customInput {
      align-items: flex-start;
      height: 136px;
    }
  }
}

@include media("<=sm") {
  .exchangeAccountForm {
    align-items: center;
    padding: 8px 12px;
    width: 100%;

    .controlWrapper {
      align-items: flex-start;
      flex-direction: column;
    }

    // label,
    // .customSelect > span {
    //   margin: 0 0 10px;
    //   width: auto;
    // }

    .customSelect {
      align-items: flex-start;
      flex-direction: column;

      //   > span {
      //     text-align: left;
      //   }
    }
  }
}
