%box-shadow {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
}

.tradingTerminal {
  .controlsBar {
    @extend %box-shadow;
    margin-bottom: 17px;
    padding: 24px;

    @include media("<=sm") {
      flex-direction: column;
    }
  }

  .tradingViewContainer {
    @extend %box-shadow;

    @include media("<=sm") {
      flex-direction: column;
      padding: 0;
    }
  }

  .customTable {
    div[class*="MuiPaper-root"] {
      background: transparent;
      border: 1px solid transparent;
      box-shadow: none;

      div[class*="MuiToolbar-root"] {
        min-height: 30px;
      }

      div:nth-child(3) {
        @extend %box-shadow;
      }

      button {
        padding: 0 0 10px 20px;
      }
    }
  }

  .loadProgress {
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding: 30px;
  }

  .tradingViewChart {
    flex: 0 0 calc(70% - 15px);
    height: 700px;
    margin-right: 15px;

    @include media("<=sm") {
      flex: 0 0 100%;
      height: 400px;
      margin-bottom: 15px;
      margin-right: 0;
    }

    @include media(">=lg") {
      flex: 0 0 calc(75% - 15px);
    }

    @include media(">=xl") {
      flex: 0 0 calc(80% - 15px);
    }
  }

  .symbolsSelector,
  .providersSelector {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20px;

    @include media("<=sm") {
      flex-direction: column;
      margin-bottom: 15px;
    }

    .customSelect {
      align-items: flex-start;
      flex-direction: column;
      margin: 0 0 0 10px;

      @include media("<=sm") {
        margin: 10px 0 0;
      }
    }

    .callout {
      > div {
        margin: 0;
        padding: 0;
        width: 250px;
      }
    }
  }
}
