%box-shadow {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
}

.tradingTerminal {
  .controlsBar {
    @extend %box-shadow;
    margin-bottom: 17px;
    padding: 24px;
  }

  .tradingViewContainer {
    @extend %box-shadow;
    height: 700px;
    padding: 30px 24px;
  }

  .tradingViewChart {
    margin-right: 15px;
    width: 70%;
  }

  .strategyPanels {
    background-color: $paleGrey;
    padding-top: 10px;
    width: 30%;
  }

  .symbolsSelector,
  .providersSelector {
    margin-right: 10px;

    .customSelect {
      align-items: flex-start;
      flex-direction: column;
      margin: 10px 0 0;
    }

    .callout {
      > div {
        margin: 0;
        padding: 0;
        width: 250px;
      }
    }
  }

  .leverageButton {
    button {
      border: $purple solid 1px;
      font-size: 15px;
      padding: 3px;
      text-transform: lowercase;
    }
  }
}
