@import '../../styles/variables.sass';

.alert
    .alertMessage
        width: 500px;
        min-height: 100px;
        border-radius: 4px;
        padding: 15px;
        box-shadow: -1px 1px 5px rgba(64, 34, 95, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.2)
