.providerHeaderActions {
  flex-wrap: nowrap;
  margin-bottom: 30px;
  width: 100%;

  .titleBox {
    margin-right: 40px;
    max-width: 400px;

    .providerLogo {
      height: 40px;
      margin-right: 16px;
      width: 40px;
    }

    h1 {
      margin-right: 16px;
    }
  }

  h4 {
    font-weight: 400;
    margin-right: 20px;

    b {
      font-weight: 700;
      margin-left: 5px;
    }
  }
}

@include media("<=sm") {
  .providerHeaderActions {
    flex-wrap: wrap;
    justify-content: space-between;

    .titleBox {
      margin-right: 0;
      max-width: 100%;
      width: 100%;

      .providerLogo {
        height: 30px;
        margin-right: 10px;
        width: 30px;
      }

      h1 {
        margin-right: 0;
      }
    }

    h4 {
      font-weight: 400;
      margin: 10px 30px 10px 0;
      margin-right: 0;
      width: fit-content;

      b {
        font-weight: 700;
        margin-left: 5px;
      }
    }

    .loadMoreButton {
      margin-right: 0;
      min-width: 100%;
    }
  }
}
