.providerHeaderActions {
  margin-bottom: 50px;
  width: 100%;

  .providerLogo {
    height: 40px;
    margin-right: 16px;
    width: 40px;
  }

  h1 {
    max-width: 650px;
  }

  h1,
  h4 {
    margin-right: 40px;
  }

  h4 {
    font-family: "PlexSans-Regular";
    b {
      font-family: "PlexSans-Bold";
      margin-left: 5px;
    }
  }

  .loadMoreButton {
    margin-right: 40px;
    min-width: 215px;
  }
}
