.modal {
  border-radius: 4px;
  height: fit-content;
  max-height: 700px;
  min-height: 300px;
  position: relative;

  .closeIcon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  &.small {
    width: 500px;
  }

  &.medium {
    width: 800px;
  }

  &.large {
    width: 1200px;
  }
}
