.modal {
  border-radius: 4px;
  height: fit-content;
  min-height: 300px;
  max-height: 700px;

  &.small {
    width: 500px;
  }

  &.medium {
    width: 800px;
  }

  &.large {
    width: 1200px;
  }
}
