.profitSharingEquityChart {
  .boxTitle {
    margin-bottom: 10px;
  }

  .chartBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 8px 0 20px;
  }

  .gradientChart {
    height: 100%;
  }
}
