@import "../../../styles/variables.sass";

.mobileAppbar {
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  overflow: hidden ;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .sideBarLink {
    align-items: center;
    border-radius: 100% ;
    display: flex;
    flex-direction: row;
    height: 42px;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    width: 42px;

    &.active {
      background-image: $purpleDarkGradient;
      border-radius: 19px;
      color: $white;
    }
  }

  .icon {
    height: 24px;
    width: 24px;
  }

  .checkedDarkBox {
    background-image: $purpleDarkGradient;
    border-radius: 100%;
    padding: 10px;
  }

  .checkedLightBox {
    background-image: $purpleDarkGradient;
    border-radius: 100%;
    padding: 10px;
  }
}
