@import '../../../styles/variables.sass';

.mobileAppbar
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden !important;
    position: fixed;
    bottom: 0;
    z-index: 1000;

    .sideBarLink
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        width: 42px;
        height: 42px;
        border-radius: 100% !important;
        &.active
            background-image: $purpleDarkGradient;
            border-radius: 19px;
            color: $white;

    .icon
        width: 24px;
        height: 24px;
    .checkedDarkBox
        background-image: $purpleDarkGradient;
        padding: 10px;
        border-radius: 100%;
    .checkedLightBox
        background-image: $purpleDarkGradient;
        padding: 10px;
        border-radius: 100%;
