.mobileAppbar {
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1401;

  .sideBarLink {
    align-items: center;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    height: 42px;
    justify-content: flex-start;
    padding: 10px;
    width: 42px;

    &.active {
      background-image: $purpleLightGradient;
      border-radius: 100%;
      color: $white;
    }
  }

  .icon {
    height: 24px;
    width: 24px;

    &.profitSharing {
      height: 20px;
      width: 20px;
    }
  }

  .checkedDarkBox,
  .checkedLightBox {
    background-image: $purpleLightGradient;
    border-radius: 100%;
    padding: 10px;
    visibility: hidden;
  }
}

.userMenuDrawer {
  bottom: 0;
  height: calc(100vh - 60px);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1400;
}

[data-theme="dark"] {
  .mobileAppbar {
    .sideBarLink {
      &.active {
        background-image: $purpleDarkGradient;
      }
    }

    .checkedDarkBox,
    .checkedLightBox {
      background-image: $purpleDarkGradient;
    }
  }
}
