@import "../../../styles/variables.scss";
@import url("../../../styles/fonts.scss");

.noPositions {
  width: 100%;
  min-height: inherit !important;
}

.noPositions h3 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .dashboardHeader {
    overflow: scroll;
  }
}
