@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.noPositions
    width: 100%;
    min-height: inherit !important;
    h3
        margin-bottom: 20px;

@media only screen and (max-width: 600px)
    .dashboardHeader
        overflow: scroll;