.languageSwitcher {
  align-items: center;
  display: flex;
  flex-direction: row;

  button {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: auto;
  }

  img {
    cursor: pointer;
    margin: 0 0.4rem;
    width: 1.4em;
  }
}
