.languageSwitcher {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 180px;

  .langButton {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-start;
    padding: 3px 5px;

    &.selected {
      border: 1px solid $purpleLight;
      color: $purpleLight;
    }
  }

  // img {
  //   cursor: pointer;
  //   margin: 0.4rem;
  //   width: 1.4em;
  // }
}
