.stopLossPanel {
  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .pricePercentageInputs,
    .targetUnits {
      justify-content: space-between;

      > :nth-child(1) {
        flex: 0 0 50%;
      }

      > :nth-last-child(3) {
        flex: 0 0 40%;
      }

      > :nth-last-child(2) {
        flex: 0 0 calc(60% - 15px);
      }
    }

    .customSelect {
      margin-left: 7px;
    }
  }
}
