.copyTraderButton {
  .submitButton {
    margin-right: 40px;
    min-width: 215px;
  }

  .actionHelpBox {
    margin-right: 20px;
    width: fit-content;

    h4 {
      font-weight: 700;
      margin-right: 10px;
    }
  }
}
