.tooltipPointHover {
  background-color: $white;
  border: solid 2px $purple;
  border-radius: 50%;
  height: 16px;
  pointer-events: none;
  position: absolute;
  width: 16px;
  will-change: translate;
}
