.followProviderButton {
  .submitButton {
    margin-right: 30px;
    min-width: 225px;
  }

  .loadMoreButton {
    margin-right: 30px;
    min-width: 215px;
  }

  .actionHelpBox {
    margin-right: 20px;
    width: fit-content;

    h4 {
      font-weight: 700;
      margin-right: 10px;
    }
  }
}

@include media("<=sm") {
  .followProviderButton {
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;

    .submitButton {
      margin-right: 0;
      min-width: 100%;
    }

    .actionHelpBox {
      margin-right: 0;

      h4 {
        font-weight: 700;
        margin-right: 0;
      }
    }
  }
}
