.takeProfitPanel {
  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .targetPrice {
      justify-content: space-between;

      > :nth-child(1),
      > :nth-child(2) {
        flex: 0 0 45%;
      }

      > :nth-child(3) {
        flex: 0 0 40%;
      }

      > :nth-child(4) {
        flex: 0 0 calc(60% - 15px);
      }
    }

    .targetUnits {
      justify-content: space-between;

      > :nth-child(1) {
        flex: 0 0 100%;
      }

      > :nth-child(2) {
        flex: 0 0 40%;
      }

      > :nth-child(3) {
        flex: 0 0 calc(60% - 15px);
      }
    }
  }

  .targetActions {
    margin-top: 10px;

    .addTarget,
    .removeTarget {
      background-color: transparent;
      font-size: 11px;

      svg {
        margin-right: 3px;
      }
    }

    .removeTarget {
      color: $red;
    }

    .addTarget {
      color: var(--purple);
    }
  }
}
