.post {
  margin-bottom: 15px;
  width: 100%;

  .metaBox {
    padding-left: 8px;
  }

  .username {
    font-size: 16px;
  }

  .date {
    opacity: 0.7;
  }

  .postContent {
    padding: 15px;
  }

  .content {
    img {
      max-width: 100%;
    }
  }
}
