.post {
  margin-bottom: 15px;
  width: 100%;

  .metaBox {
    padding-left: 8px;
  }

  .date {
    opacity: 0.7;
  }

  .adminActions {
    margin-bottom: 18px;
  }

  .customButton {
    min-width: auto;
  }

  .disabled {
    opacity: 0.6;
  }

  .postContent {
    padding: 15px;
  }

  .postContent {
    img {
      max-width: 100%;
    }

    th,
    td {
      border: 1px solid var(--border-color);
    }

    .iframeContainer {
      height: 0;
      padding-bottom: 100%;
      padding-bottom: 56.2493%;
      position: relative;
    }
  }

  .repliesBox {
    padding: 14px 16px;
    width: 100%;

    .providerLogo {
      margin-right: 12px;
    }
  }
}
