.traderCardHeader {
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  min-height: 80px;
  padding: 18px 20px 0;
  width: 100%;

  .traderCardHeaderTitleBox {
    // height: 40px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 17px;
    width: 100%;

    .nameBox {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      //   .nameWrapper {
      //     height: 39px;
      //   }

      .name {
        color: var(--purple);
        text-decoration: none;
      }

      .connectedIcon {
        height: 20px;
        margin-left: 7px;
        margin-top: -1px;
        width: 20px;
      }

      .commissionBox {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        position: relative;
      }

      .price {
        bottom: -17px;
        position: absolute;
      }
    }

    .tradesInfoBox {
      align-items: "center";
      display: flex;
      flex-direction: row;

      .tradeType {
        font-size: 14px;
        padding-right: 3px;
      }

      .exchangeIcon {
        &:not(:first-of-type) {
          margin-left: 3px;
        }
      }
    }
  }
}

@include media("<=sm") {
  .traderCardHeader {
    min-height: 70px;
    padding: 8px 10px 0;
    width: 100%;

    .providerLogo {
      height: 30px;
      width: 30px;
    }

    .name {
      h4 {
        word-break: break-all;
      }
    }

    .traderCardHeaderTitleBox {
      margin-left: 15px;

      //   .nameWrapper {
      //     height: 40px;
      //   }
    }
  }
}

[data-theme="dark"] {
  .traderCardHeader {
    border-color: $lighterBlackBorder;
  }
}
