.depositQRCodes {
  justify-content: space-around;

  @include media("<=sm") {
    flex-direction: column;
    padding: 32px;

    p {
      padding-top: 42px;
    }
  }

  .qrCode {
    text-align: center;

    p {
      padding-bottom: 16px;
    }
  }
}
