.reply {
  margin: 18px 0;

  .username {
    margin-left: -2px;
  }

  .replyBox {
    margin-left: 42px;
  }

  .sep {
    font-size: 24px;
    margin: 0 6px;
  }

  .replyActions {
    height: 34px;
  }

  .action {
    cursor: pointer;
    opacity: 0.7;
  }

  .replyMenu {
    padding-left: 5px;
  }
}

.replyContainer {
  .childReplies,
  .addReply {
    margin-left: 42px;
  }

  .addReply {
    margin-bottom: 18px;
  }
}
