.reply {
  margin-top: 18px;

  .username {
    margin-left: -2px;
  }

  .replyBox {
    margin-left: 42px;
  }

  .sep {
    font-size: 24px;
    line-height: 0;
    margin: 0 6px;
  }

  .replyActions {
    margin-top: 14px;
  }

  .action {
    cursor: pointer;
  }

  .callout2 {
    opacity: 0.7;
  }

  .replyMenu {
    padding-left: 5px;
  }

  .following {
    img {
      border: solid 2px var(--purple);
      border-radius: 50%;
    }
  }
}

.replyContainer {
  margin: -10px 0 18px;

  .subRepliesContainer {
    margin-left: 42px;
  }

  .addReply {
    margin: 18px 0;
  }

  .showAllReplies {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-top: 16px;

    svg {
      margin-right: 3px;
    }
  }
}
