.reply {
  margin: 22px 0;

  .username {
    margin-left: -2px;
  }

  .replyHeader {
    margin-bottom: 4px;
  }

  .replyBox {
    margin-left: 42px;
  }

  .sep {
    font-size: 24px;
    margin: 0 6px;
  }

  .action {
    cursor: pointer;
    opacity: 0.7;
  }
}
