.exchangeAccountConnect {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  width: 100%;

  .step1 {
    border-right: solid 1px var(--border-color);
    flex: 1;
    padding-right: 12px;
  }

  .exchangeIcon {
    border: solid 2px transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 62px;
    margin: 28px 56px 33px 0;
    padding: 4px;
    width: 62px;

    &.selected {
      border-color: var(--purple);
    }
  }

  .name {
    margin-bottom: 24px;
    width: 250px;

    .accountLabel {
      margin-bottom: 33px;
    }
  }

  .controlWrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .accountLabel {
    font-weight: 600;
  }

  .step2 {
    border-right: solid 1px var(--border-color);
    flex: 2;
    padding: 0 42px;

    .title {
      margin-bottom: 18px;
    }

    .accountLabel {
      margin-bottom: 11px;
    }

    .controlWrapper {
      margin-bottom: 32px;
    }

    .summary {
      cursor: pointer;

      svg {
        margin-left: 19px;
      }
    }

    .tips {
      margin-top: 24px;
      white-space: pre-line;
    }
  }

  .step3 {
    flex: 1;
    margin-left: 42px;

    .customButton {
      margin-top: 31px;
    }
  }
}
