.exchangeAccountConnect {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  width: 100%;

  .step1 {
    border-right: solid 1px var(--border-color);
    flex: 1;
    padding-right: 12px;
  }

  .exchangeIcon {
    border: solid 2px transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 62px;
    margin: 28px 56px 33px 0;
    padding: 4px;
    width: 62px;

    &.selected {
      border-color: var(--purple);
    }
  }

  .name {
    margin-bottom: 24px;
    width: 250px;

    .accountLabel {
      margin-bottom: 33px;
    }
  }

  .controlWrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .accountLabel {
    font-weight: 600;
  }

  .step2 {
    border-right: solid 1px var(--border-color);
    flex: 2;
    padding: 0 42px;

    .title {
      margin-bottom: 18px;
    }

    .accountLabel {
      margin-bottom: 11px;
    }

    .controlWrapper {
      margin-bottom: 32px;
    }

    .summary {
      cursor: pointer;

      svg {
        margin-left: 19px;
      }
    }

    .tips {
      margin-top: 24px;
      white-space: pre-line;
    }
  }

  .typeButtons {
    margin-bottom: 32px;
    width: 100%;

    button {
      flex: 1;
    }
  }

  .step3 {
    flex: 1;
    padding-left: 42px;

    .customButton {
      margin-top: 31px;
    }
  }
}

@include media("<=sm") {
  .exchangeAccountConnect {
    flex-direction: column;
    padding-bottom: 72px;
    padding-top: 18px;

    .step1 {
      border: 0;
      padding-right: 0;

      .name {
        margin-bottom: 20px;
        width: 100%;
      }

      .accountLabel {
        margin-bottom: 11px;
        width: 100%;
      }
    }

    .step2 {
      border: 0;
      margin-top: 14px;
      padding: 0;
      width: 100%;

      .customButton {
        margin-top: 18px;
        width: 100%;
      }
    }

    .actionStep2 {
      align-items: flex-start;
      flex-direction: column;
    }

    .step3 {
      padding: 0;
    }
  }
}
