.exchangeAccountConnect {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  width: 100%;

  .step1 {
    border-right: solid 1px var(--border-color);
    flex: 1;
    padding-right: 12px;

    .loadingBox {
      min-height: 200px;
      width: 100%;
    }
  }

  .exchangeLink {
    color: $blue;
    text-decoration: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .exchangeIconBox {
    margin: 20px 0;

    .iconBox {
      align-items: center;
      border: solid 2px transparent;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      height: 72px;
      justify-content: center;
      margin-right: 20px;
      padding: 4px;
      width: 72px;

      &:last-child {
        margin-right: 0;
      }

      &.selected {
        border-color: var(--purple);
      }
    }

    .exchangeIcon {
      cursor: pointer;
      height: 60px;
      width: 60px;

      &.vcce {
        padding: 5px;
      }
    }
  }

  .name {
    margin-bottom: 88px;
    width: 250px;

    .accountLabel {
      margin-bottom: 16px;
    }
  }

  .controlWrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .accountLabel {
    font-weight: 600;
  }

  .step2 {
    border-right: solid 1px var(--border-color);
    flex: 2;
    padding: 0 42px;

    .title {
      margin-bottom: 18px;
    }

    .accountLabel {
      margin-bottom: 11px;
    }

    .controlWrapper {
      margin-bottom: 32px;
    }

    .summary {
      cursor: pointer;

      svg {
        margin-left: 19px;
      }
    }

    .tips {
      margin-top: 24px;
      white-space: pre-line;
    }

    .alert {
      margin-bottom: 20px;
      padding: 8px;
    }
  }

  .typeButtons {
    margin-bottom: 32px;
    width: 100%;

    button {
      flex: 1;
    }
  }

  .step3 {
    flex: 1;
    padding-left: 42px;

    .customButton {
      margin-top: 31px;
    }
  }
}

@include media("<=sm") {
  .exchangeAccountConnect {
    flex-direction: column;
    padding-bottom: 72px;
    padding-top: 18px;

    .step1 {
      border: 0;
      padding-right: 0;

      .name {
        margin-bottom: 20px;
        width: 100%;
      }

      .accountLabel {
        margin-bottom: 11px;
        width: 100%;
      }
    }

    .step2 {
      border: 0;
      margin-top: 14px;
      padding: 0;
      width: 100%;

      .customButton {
        margin-top: 18px;
        width: 100%;
      }
    }

    .actionStep2 {
      align-items: flex-start;
      flex-direction: column;
    }

    .step3 {
      padding: 0;
    }
  }
}
