.paymentResponse {
  height: 200px;
  padding: 40px 20px;
  width: 100%;

  h3 {
    margin-bottom: 16px;
    width: fit-content;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

@include media("<=sm") {
  .paymentResponse {
    padding: 30px 15px;
    width: 100%;
  }
}
