.balanceTabs {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  width: 100%;

  .tabsBox {
    border-bottom: solid 1px var(--border-color);

    .topBox {
      width: 100%;
    }

    .tabPanel {
      padding: 0 10px;
      width: 100%;
    }
  }
}

@include media("<=sm") {
  .balanceTabs {
    .tabsBox {
      .tabPanel {
        min-height: 350px;
      }
    }
  }
}
