.whoWeAre {
  min-height: inherit;
  padding: 30px 20px;
  width: 100%;

  p {
    color: $purple;
  }
  .bottomBox {
    .socialBox {
      .icon {
        width: 39px;
        height: 39px;
        margin-right: 30px;
        margin-top: 16px;
      }
    }
  }
}
