.whoWeAre {
  min-height: inherit;
  padding: 30px 20px;
  width: 100%;

  .providerName {
    margin-bottom: 12px;

    a {
      margin-left: 10px;
    }
  }

  .topBox {
    width: 100%;

    .teamBox {
      margin-bottom: 30px;
      margin-top: 16px;
      width: 100%;
    }

    .teamItem {
      margin-right: 15px;
      width: fit-content;

      .name {
        font-size: 16px;
        font-weight: 400;
        margin-right: 5px;
      }

      .flag {
        height: 20px;
        width: 20px;
      }
    }
  }

  .bottomBox {
    width: 100%;

    h3 {
      margin-bottom: 16px;
    }

    .socialBox {
      .icon {
        margin-bottom: 20px;
        margin-right: 30px;
      }
    }
  }

  .otherServicesBox {
    margin-top: 30px;
  }
}

@include media("<=sm") {
  .whoWeAre {
    padding: 20px;

    p {
      color: var(--purple);
      width: 100%;
    }

    h3 {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      width: 100%;

      .expandIcon {
        cursor: pointer;
        height: 32px;
        width: 32px;
      }
    }

    .bottomBox {
      .socialBox {
        flex-wrap: wrap;

        .icon {
          margin-right: 12px;
        }
      }
    }
  }
}
