.exchangeAccountData {
  width: 100%;
  padding: 24px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;

  .topBoxData {
    min-height: 260px;
    max-height: 360px;
    position: relative;
  }

  .equityBox {
    // width: 33%;
    flex: 1;
    // min-width: 0;
    // flex-grow: 1;

    .totalEquity {
      border: none;
    }

    .boxTitle {
      display: none;
    }

    h4 {
      margin-top: -8px;
    }
  }

  .cryptoBox {
    flex: 1;

    h3 {
      font-family: "PlexSans-Regular";
      font-size: 21px;
    }
  }

  .cardsBox {
    flex: 1;

    .traderMiniCard {
      min-height: 80px;
    }
  }

  .balanceBox {
    border-top: 1px solid $borderColor;
    margin-top: 30px;
    width: 100%;
  }

  .availableBalance {
    padding: 0;
  }
}

@include media("<=sm") {
  .exchangeAccountData {
    padding: 12px;

    .topBoxData {
      align-items: flex-start;
      flex-direction: column;
      max-height: none;
    }

    .balanceBox {
      //   box-shadow: none;
    }

    .equityBox {
      width: 100%;
    }

    .cryptoBox {
      min-height: 200px;
    }

    .cryptoBox {
      width: 100%;
    }
  }
}
