.exchangeAccountData {
  width: 100%;
  padding: 24px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;

  .equityBox {
    min-height: 270px;
    width: 33%;

    .totalEquity {
      border: none;
    }

    .boxTitle {
      display: none;
    }

    h4 {
      margin-top: -8px;
    }
  }

  .cryptoBox {
    min-height: 250px;
    width: 33%;
  }

  .balanceBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin-top: 30px;
    width: 100%;
  }
}
