@import '../../styles/variables.sass';

.loginTabs
    margin-top: 100px;
    background: $white !important;
    border-radius: 4px;
    width: 450px;
    min-height: 450px;
    z-index: 100;
    overflow-y: visible;
    box-shadow: 0 2px 8px 0 rgba(64, 34, 95, 0.2);

    .tabs-menu
        width: 100%;
        min-height: 70px;
        max-height: 70px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.1);
        .container
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button
                padding: 0;
                min-width: 100px;
                max-width: 100px;
                min-height: 70px;
                max-height: 70px;
                text-transform: capitalize;
                font-size: 21px !important;
                font-family: 'PlexSans-Regular';
                &:focus
                    outline: none;
                &.selected
                    font-family: 'PlexSans-Bold';

    .indicator
        background: $purple !important;
        width: 100px !important;
    .section
        min-height: 450px;
