.totalEquityBar {
  height: 80px;
  padding: 0 20px;

  .helpIcon {
    font-size: 18px;
    margin-left: 5px;
  }

  .number1,
  .number3 {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .number1 {
    .infinity {
      font-size: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }

  .number3 {
    .infinity {
      font-size: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  .dataBox {
    margin: 0 14px;
    white-space: nowrap;

    .smallText {
      margin-left: 12px;
    }

    .pnlPercent {
      margin-left: 31px;
    }
  }

  .operator {
    font-size: 21px;
    font-weight: bold;
    width: fit-content;
  }
}

@include media("<=sm") {
  .totalEquityBar {
    flex-wrap: wrap;
    height: auto;
    padding: 0;

    .dataBox {
      align-items: center;
      width: 100%;

      > div {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    .operator {
      display: flex;
      flex: 1;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
}
