.testimonials {
  width: calc(100% - 264px);

  .title {
    color: $black2;
    display: block;
    font-family: "PlexSans-Medium";
    font-size: 28px;
    text-align: left;
  }
}

@include media("<=sm") {
  .testimonials {
    width: 100%;
    padding: 30px 20px;

    .title {
      text-align: center;
    }
  }
}

@include media(">lg", "<=xl") {
  .testimonials {
    width: calc(100% - 464px);

    .title {
      text-align: center;
    }
  }
}

@include media(">xl") {
  .testimonials {
    width: calc(100% - 664px);

    .title {
      text-align: center;
    }
  }
}
