@import '../../styles/variables.sass';

.testimonials
        padding: 50px 130px;

        .title
            font-family: 'PlexSans-Medium';
            font-size: 28px !important;
            text-align: left;
            color: $black !important;
