.testimonials {
  margin: 0 auto;
  max-width: 1200px;

  .title {
    color: $black2;
    display: block;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
  }
}

@include media("<=sm") {
  .testimonials {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;

    .title {
      text-align: center;
    }
  }
}
