.testimonials {
  max-width: 1200px;
  width: 100%;

  .title {
    color: $black2;
    display: block;
    font-family: "PlexSans-Medium";
    font-size: 28px;
    text-align: left;
  }
}

@include media("<=sm") {
  .testimonials {
    padding: 30px 20px;
    width: 100%;

    .title {
      text-align: center;
    }
  }
}

@include media(">lg", "<=xl") {
  .testimonials {
    width: calc(100% - 464px);

    .title {
      text-align: center;
    }
  }
}

@include media(">xl") {
  .testimonials {
    width: calc(100% - 664px);

    .title {
      text-align: center;
    }
  }
}
