.sidebar {
  border: 1px solid var(--border-color);
  border-radius: 28px;
  box-sizing: border-box;
  left: 27px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 21px;
  transition: width 0.25s;
  width: 60px;
  z-index: 1000;

  &.full {
    overflow: visible;
    width: 220px;
  }

  .sideBarLink {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    height: 40px;
    justify-content: flex-start;
    margin-bottom: 50px;
    opacity: 0.6;
    overflow: hidden;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;

    &.active {
      background-image: $purpleLightGradient;
      border-radius: 19px;
      color: $white;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    .icon {
      height: 24px;
      margin-right: 12px;
      width: 24px;
    }

    &.profitSharing {
      .icon {
        height: 22px;
        margin-right: 12px;
        width: 22px;
      }
    }
  }
}

[data-theme="dark"] {
  .sidebar {
    background: $lightestBlack;
    border-color: $lightBlackBorder;

    .sideBarLink {
      &.active {
        background-image: $purpleDarkGradient;
      }
    }
  }
}
