.entryExpirationPanel {
  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .entryExpiration {
      justify-content: space-between;

      > div {
        flex: 0 0 100%;
      }
    }
  }
}
