.deleteAccount {
  background-image: url("../../images/login/group.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;

  .logo {
    height: 70px;
    margin-bottom: 20px;
    width: 252px;
  }

  .submitButton {
    margin-top: 12px;
  }
}
