.resetPasswordForm {
  background: $white;
  border-radius: 4px;
  padding: 40px;
  width: 400px;

  h3 {
    margin-bottom: 40px;
    color: $black2;
  }

  .inputBox {
    margin-bottom: 40px;
    width: 264px;

    &:first-child {
      margin-top: 40px;
    }

    .customLabel {
      margin-bottom: 12px;
      color: $black2;
    }
  }

  .customInput {
    input {
      color: $black2;
    }

    svg {
      color: $lightGrey;
    }

    &:hover {
      fieldset {
        border-color: $lightGrey;
      }
    }
  }

  .link {
    color: $purple;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .errorText {
    color: $red;
    font-size: 11px;
  }
}
