.tableHead {
  .row {
    .cell {
      border-bottom: 0;
      font-family: "PlexSans-Medium";
      font-size: 11px;
      height: 60px;
      padding: 8px 12px;
      text-transform: capitalize;
    }
  }
}
