.themeSwitcher {
  border: solid 1px $var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;

  img {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  .checkedDarkBox,
  .checkedLightBox {
    background-image: $purpleLightGradient;
    padding: 8px;
  }

  .darkBox,
  .lightBox {
    background: $white;
    padding: 8px;
  }
}

[data-theme="dark"] {
  .themeSwitcher {
    .darkBox,
    .lightBox {
      background: $themeSwitcherBackground;
    }
  }
}
