.themeSwitcher {
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;

  img {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  .darkBox {
    padding: 8px;
  }

  .checkedDarkBox {
    background-image: $purpleLightGradient;
    padding: 8px;
  }

  .lightBox {
    padding: 8px;
  }

  .checkedLightBox {
    background-image: $purpleLightGradient;
    padding: 8px;
  }
}
