.notFoundPage {
  h1 {
    font-size: 27px;
    letter-spacing: 1.03px;
    margin: 25px 0 33px;
  }

  .desc {
    margin-bottom: 35px;
  }

  .customButton {
    margin: 13px 0 70px;
  }

  .code {
    font-weight: 400;
  }
}
