.balanceManagement {
  width: 100%;

  h3 {
    margin-bottom: 14px;
  }

  .transferBox {
    margin: 22px 24px;

    .transferDesc {
      max-width: 484px;
    }

    .customSelect {
      align-items: flex-start;
      margin: 0 0 41px;
    }

    .customSelectControl {
      margin-top: 11px;
    }

    .searchRoot {
      width: 216px;
    }
  }

  .transferColumnsBox {
    margin-top: 38px;
  }

  .balanceBox {
    .balanceLine {
      margin-bottom: 24px;
    }
  }

  .coinColumn {
    border-right: 1px solid var(--border-color);
    max-width: 553px;
    padding-right: 69px;
    width: 100%;
  }

  .networkColumn {
    margin-left: 70px;
    max-width: 460px;
    width: 100%;

    .networkButtons {
      margin-top: 19px;
      width: 100%;

      button {
        flex: 1;
      }
    }
  }
}

@include media("<=sm") {
  .balanceManagement {
    .transferColumnsBox {
      flex-direction: column;
    }

    .coinColumn {
      border: 0;
      padding-right: 0;
    }

    .networkColumn {
      margin-left: 0;
    }

    .customSelect {
      .callout + span {
        text-align: left;
      }
    }
  }
}
