.traderProfilePage {
  width: 100%;

  .leftColumn {
    margin-right: 20px;
    width: calc(46% - 20px);

    .aboutBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      margin-bottom: 20px;
      min-height: 280px;
      width: 100%;
    }

    .strategyBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      margin-bottom: 20px;
      min-height: 430px;
      width: 100%;
    }
  }

  .rightColumn {
    width: 54%;

    .whoWeAreBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      margin-bottom: 20px;
      min-height: 280px;
      width: 100%;
    }

    .performanceBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      margin-bottom: 20px;
      min-height: 430px;
      width: 100%;
    }
  }

  .cloneBox {
    width: 100%;

    .submitButton {
      margin-right: 0;
    }
  }
}

@include media("<=sm") {
  .traderProfilePage {
    width: 100%;

    .leftColumn {
      margin: 0 0 20px;
      width: 100%;
    }

    .rightColumn {
      margin: 0 0 20px;
      width: 100%;
    }

    .cloneBox {
      width: 100%;

      .submitButton {
        width: 100%;
      }
    }
  }
}
