.stopCopyingForm {
  padding: 20px;

  h3 {
    margin-bottom: 40px;
  }

  .labeledInputsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;

    span {
      align-items: center;
      border: 2px solid $purple;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-weight: 700;
      justify-content: center;
      padding: 10px;
      text-align: center;
      width: 50%;

      &.checked {
        background: $purple;
        color: $white;
      }

      .helpIcon {
        height: 16px;
        margin-left: 5px;
        width: 16px;
      }
    }
  }

  .formAction {
    width: 100%;
  }
}

@include media("<=sm") {
  .stopCopyingForm {
    padding: 60px 12px;
  }
}
