.stopCopyingForm {
  padding: 20px;

  h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .labeledInputsBox {
    margin: 20px 0;
    width: 100%;

    .button {
      align-items: center;
      border: 2px solid $purple;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-weight: 700;
      justify-content: center;
      padding: 10px;
      text-align: center;
      width: calc(50% - 10px);

      &.checked {
        background: $purple;
        color: $white;
      }
    }

    .info {
      margin-top: 20px;
      padding: 10px;
      width: 100%;
    }
  }

  .formAction {
    width: 100%;
  }
}

@include media("<=sm") {
  .stopCopyingForm {
    padding: 60px 12px;
  }
}
