.weeklyData {
  margin-top: 30px;
  width: 100%;

  .weekLabels {
    padding: 5px 20px;
    width: 100%;

    .quaterLabel {
      min-width: 65px;
    }

    h5 {
      font-weight: 400;
      text-align: center;
      text-transform: capitalize;
      width: 80px;
    }

    .total {
      font-weight: 600;
      text-align: right;
      width: 80px;
    }
  }

  .weekData {
    margin-bottom: 5px;
    margin-top: 30px;
    width: 100%;

    .quarterBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      cursor: pointer;
      margin-bottom: 10px;
      padding: 15px 20px;
      width: 100%;

      &.selected {
        position: relative;

        &::before {
          border-bottom: 2px solid $purple;
          border-left: 5px solid $purple;
          border-radius: 4px;
          border-right: 5px solid $purple;
          border-top: 2px solid $purple;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    .quaterLabel {
      color: var(--purple);
      min-width: 65px;
    }

    h5 {
      text-align: center;
      width: 80px;

      &.btc {
        overflow-wrap: break-word;
      }
    }

    .total {
      text-align: right;
      width: 80px;

      &.btc {
        overflow-wrap: break-word;
      }
    }
  }
}

@include media("<=sm") {
  .weeklyData {
    flex-direction: row;
    margin-top: 30px;
    min-height: 200px;
    width: 100%;

    .weekLabels {
      flex-direction: column;
      margin-right: 10px;
      margin-top: 30px;
      min-height: 500px;
      padding: 15px 0;
      width: 45px;

      .quaterLabel {
        min-height: 16px;
        min-width: 65px;
      }

      h5 {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        width: fit-content;
      }

      .total {
        font-weight: 600;
        text-align: right;
        width: fit-content;
      }
    }

    .weekData {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 30px;
      max-width: 100%;
      width: fit-content;

      .quaterLabel {
        font-size: 16px;
        text-align: center;
      }

      .quarterBox {
        flex-direction: column;
        margin-right: 5px;
        max-width: 60px;
        min-height: 500px;
        padding: 15px 0;

        h5 {
          font-size: 12px;
          text-align: center;
          text-transform: capitalize;
          width: fit-content;
        }

        &.selected {
          position: relative;

          &::before {
            border-bottom: 1px solid $purple;
            border-left: 1px solid $purple;
            border-radius: 4px;
            border-right: 1px solid $purple;
            border-top: 1px solid $purple;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }

        .total {
          width: fit-content;
        }
      }
    }
  }
}
