.profilePage {
  width: 100%;

  .aboutBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin-bottom: 20px;
    margin-right: 20px;
    min-height: 280px;
    width: calc(48% - 20px);
  }

  .whoWeAreBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    min-height: 280px;
    width: 52%;
  }

  .strategyBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    margin-bottom: 20px;
    margin-right: 20px;
    min-height: 430px;
    width: calc(48% - 20px);
  }

  .performanceBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    min-height: 430px;
    width: 52%;
  }

  .optionsBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    min-height: 400px;
    width: calc(100%);
  }

  .cloneBox {
    width: 100%;
    margin-top: 20px;

    .submitButton {
      margin-right: 0;
    }
  }
}

@include media("<=sm") {
  .profilePage {
    width: 100%;

    .aboutBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .whoWeAreBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .strategyBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .performanceBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .optionsBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .cloneBox {
      width: 100%;

      .submitButton {
        width: 100%;
      }
    }
  }
}
