.providerProfilePage {
  width: 100%;

  .leftColumn {
    width: calc(46% - 20px);
    margin-right: 20px;

    .aboutBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      min-height: 280px;
      width: 100%;
      margin-bottom: 20px;
    }

    .strategyBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      min-height: 430px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .rightColumn {
    width: 54%;

    .whoWeAreBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      min-height: 280px;
      width: 100%;
      margin-bottom: 20px;
    }

    .performanceBox {
      box-shadow: 0 2px 8px 0 $boxShadowColor;
      min-height: 430px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .optionsBox {
    box-shadow: 0 2px 8px 0 $boxShadowColor;
    min-height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }

  .cloneBox {
    width: 100%;

    .submitButton {
      margin-right: 0;
    }
  }
}

@include media("<=sm") {
  .providerProfilePage {
    width: 100%;

    .leftColumn {
      margin: 0 0 20px;
      width: 100%;
    }

    .rightColumn {
      margin: 0 0 20px;
      width: 100%;
    }

    .optionsBox {
      margin: 0 0 20px;
      width: 100%;
    }

    .cloneBox {
      width: 100%;

      .submitButton {
        width: 100%;
      }
    }
  }
}
