.cloneEditForm {
  width: 100%;
  height: inherit;
  padding: 40px 20px;
  width: 100%;

  h3 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .inputBox {
    margin-bottom: 16px;
    width: 80%;
  }

  .formAction {
    padding: 20px;
    width: 100%;

    .submitButton {
      width: 220px;
    }
  }
}

@include media("<=sm") {
  .cloneEditForm {
    width: 100%;

    h3 {
      text-align: center;
    }

    .inputBox {
      margin-bottom: 16px;
      width: 100%;

      &.switches {
        min-width: 100%;
      }
    }

    .formAction {
      justify-content: center;

      .submitButton {
        width: 100%;
      }
    }
  }
}
