.passwordStrengthBox {
  z-index: 2000;

  .passwordStrength {
    background: $passwordStrengthBackground;
    border: 1px solid $white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 24px;
    position: relative;
    width: 264px;

    .closeIcon {
      color: $white;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    .title {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 10px;

      &.last {
        margin-top: 10px;
      }
    }

    .text {
      color: $white;
      font-size: 14px;
      font-weight: 300;
    }

    .strength {
      width: 100%;

      .bar {
        background-image: $greyGradient;
        border-radius: 4px;
        height: 8px;
        width: 50px;

        &.green {
          background-image: $greenGradient;
        }

        &.yellow {
          background-image: $yelloGradient;
        }

        &.red {
          background-image: $redGradient;
        }
      }
    }
  }
}
