.availableBalance {
  height: 80px;
  padding: 0 20px;

  .dataBox {
    .smallText {
      margin-left: 12px;
    }
  }

  .operator {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 21px;
    font-weight: bold;
    justify-content: center;
    width: content;
  }
}

@include media("<=sm") {
  .availableBalance {
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 0;

    .dataBox {
      align-items: center;
      width: 100%;
    }

    .operator {
      width: fit-content;
    }
  }
}
