@import '../../../styles/variables.sass';

.availableBalance
    height: 80px;
    padding: 0px 20px;
    .dataBox
        .smallText
            margin-left: 12px;
    .operator
        width: content;
        display: flex;
        flex-direction: row;
        justifyContent: center;
        alignItems: center;
        font-size: 21px;
        font-weight: bold;
@media only screen and (max-width: 600px)
    .availableBalance
        height: auto;
        padding: 0px;
        align-items: center !important;
        flex-direction: column !important;
        .dataBox
            width: 100% !important;
            align-items: center;
        .operator
            width: fit-content;
