.availableBalance {
  height: 80px;
  padding: 0 20px;

  .dataBox {
    .smallText {
      margin-left: 12px;
    }
  }

  .operator {
    font-size: 21px;
    font-weight: bold;
    width: fit-content;
  }
}

@include media("<=sm") {
  .availableBalance {
    flex-wrap: wrap;
    height: auto;
    padding: 0;

    .dataBox {
      align-items: center;
      width: 100%;
    }

    .operator {
      text-align: center;
      width: 100%;
    }
  }
}
