@import '../../../styles/variables.sass';

.availableBalance
    height: 80px;
    padding: 0px 20px;
    .dataBox
        .smallText
            margin-left: 12px;
    .operator
        width: 50px;
        display: flex;
        flex-direction: row;
        justifyContent: center;
        alignItems: center;
        font-size: 21px;
        font-weight: bold;