.testimonial {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  box-sizing: border-box;
  margin: 64px 12px;
  min-height: 268px;
  padding: 20px;
  position: relative;
  width: 576px;

  .avatar {
    border-radius: 50%;
    height: 80px;
    left: 24px;
    position: absolute;
    top: -30px;
    width: 80px;
  }

  .timeBox {
    height: 42px;

    .time {
      color: $black2;
      font-size: 14px;
      letter-spacing: 0.53px;
      margin-right: 1rem;
    }

    .icon {
      background: $blue;
      border-radius: 50%;
      height: 42px;
      padding-top: 5px;
      width: 42px;
    }
  }

  .titleBox {
    margin-top: 16px;

    .title {
      color: $black2;
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 0.8px;
      margin: 0;

      + p {
        color: $black2;
        font-size: 16px;
        letter-spacing: 0.61px;
        line-height: 21px;
        margin: 10px 0 0;
      }
    }
  }

  .reviewBox {
    bottom: 16px;
    position: absolute;
    width: calc(100% - 40px);

    .stars {
      color: $green;
    }
  }
}

@include media("<=sm") {
  .testimonial {
    .avatar {
      height: 60px;
      width: 60px;
    }

    .titleBox {
      margin-bottom: 20px;
    }
  }
}
