.exchangeAccountSettings {
  width: 100%;

  > .loaderBox {
    margin-top: 50px;
  }

  .typeBox {
    margin-bottom: 20px;
    width: 100%;

    .type {
      text-transform: capitalize;
    }
  }

  .deleteButton {
    margin-top: 30px;
  }
}
