.timeFrameSelectRow {
  width: 100%;
  margin-bottom: 10px;

  @include media("<=sm") {
    .customSelect {
      margin-left: 0;
    }

    .providersCount {
      @include text-no-wrap;
    }
  }
}
