.updatePassword {
  margin-bottom: 8px;
  width: 216px;

  img {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: -32px;
    top: 34px;
    width: 24px;
  }

  .inputBox,
  .passwordBox {
    > div {
      width: 100%;
    }
  }

  .passwordBox {
    position: relative;
  }

  .customButton {
    margin: 8px 0 56px;
    min-width: 100%;
  }
}
