.copyTraderForm {
  min-height: 300px;
  overflow-y: scroll;
  padding: 40px;

  .alert {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 80%;
    text-align: center;
    text-transform: initial;
  }

  h4 {
    margin-bottom: 20px;
    max-width: 80%;
    text-align: center;
    text-transform: initial;
  }

  p {
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
  }

  .fieldBox {
    margin-bottom: 30px;
    width: 100%;
  }

  .inputBox {
    width: 300px;

    .customLabel {
      text-align: center;
      width: 100%;

      h4 {
        margin-left: 10px;
        width: fit-content;
      }
    }

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 5px;
      width: 100%;

      &.errorText {
        font-size: 14px;
      }
    }
  }

  .labeledInputsBox {
    margin-bottom: 30px;
    width: 80%;

    span {
      border: 2px solid $purple;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      padding: 10px;
      text-align: center;
      width: 50%;

      &.checked {
        background: $purple;
      }
    }
  }

  .customTextarea {
    margin-bottom: 30px;

    > div {
      padding: 10px;
    }
  }
}

@include media("<=sm") {
  .copyTraderForm {
    padding: 40px 15px;

    h3 {
      width: 100%;
    }

    p {
      width: 100%;
    }

    .fieldBox {
      .inputBox {
        width: 100%;
      }
    }
  }
}
