@import '../../../styles/variables.sass';
@import url('../../../styles/fonts.sass');

.dashboardHeader
    width: 100%;
    height: 60px;
    box-sizing: boorder-box !important;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);


    .dashboardLink
        width: fit-content;
        text-decoration: none;
        font-family: 'PlexSans-Medium';
        text-transform: capitalize;
        color: inherit;
        padding: 10px 10px 10px 0;
        margin: 0 16px 0 0 ;
        font-size: 21px;
        box-sizing: border-box;
        white-space: nowrap;
        height: 100%;

        &.active
            border-bottom: 2px solid $purple;


@media only screen and (max-width: 600px)
    .dashboardHeader
        overflow: scroll;