@import '../../../styles/variables.sass'
@import url('../../../styles/fonts.sass')

.dashboardHeader
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)
    box-sizing: boorder-box !important
    height: 60px
    margin-bottom: 30px
    width: 100%

    .dashboardLink
        box-sizing: border-box
        color: inherit
        font-family: 'PlexSans-Medium'
        font-size: 21px
        height: 100%
        margin: 0 16px 0 0
        padding: 10px 10px 10px 0
        text-decoration: none
        text-transform: capitalize
        white-space: nowrap
        width: fit-content

        &.active
            border-bottom: 2px solid $purple

@media only screen and (max-width: 600px)
    .dashboardHeader
        overflow: scroll
