@import '../../../styles/variables'
@import url('../../../styles/fonts.sass')

.dashboardHeader
    width: 100%
    .titleBox
        box-sizing: border-box
        width: 100%
        margin-bottom: 16px
        height: 50px
        .exchangeTitle
            color: $purple !important
            font-size: 16px
            font-family: 'PlexSans-Bold'
            margin: 8px 0 0 16px
