.dashboardHeader {
  width: 100%;

  .titleBox {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 16px;
    width: 100%;

    .exchangeTitle {
      color: var(--purple);
      font-size: 16px;
      font-weight: 700;
      margin: 8px 0 0 16px;
    }
  }
}

@include media("<=sm") {
  .dashboardHeader {
    overflow: scroll;
  }
}
