@import "../../../styles/variables";

@import url("../../../styles/fonts.sass");

.dashboardHeader {
  width: 100%;

  .titleBox {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 16px;
    width: 100%;

    .exchangeTitle {
      color: $purple !important;
      font-family: "PlexSans-Bold";
      font-size: 16px;
      margin: 8px 0 0 16px;
    }
  }
}
