@import '../../styles/variables.sass'

.selectTimeFrame
    p
        margin-right: 24px
    .select
        width: 144px
        height: 32px
        background: $white
        border-radius: 4px
        div
            // height: 40px
            // max-height: 40px !important
        //     padding-left: .5rem !important
        //     padding-top: .6rem !important
        //     padding-bottom: 0 !important
        //     padding-right: 0 !important
        //     color: $white !important

        //     &:before, &:after
        //         display: none !important
        //         border: none !important
        //     svg
        //         color: $white
        //         font-size: 28px
        //         margin-top: -2px
        // .option
        //     font-family: 'PlexSans-Bold' !important
