.selectTimeFrame {
  p {
    margin-right: 24px;
  }

  .customSelect {
    margin-right: 0;
  }

  .customSelectControl {
    margin-left: auto;
    min-width: 144px;
  }

  .select {
    border-radius: 4px;
    height: 32px;
    margin-right: 0;
  }
}
