%position-table-base {
  .actions {
    align-items: center;
    display: flex;
    flex-direction: row;

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin: 0 10px;

      @include media("<=sm") {
        margin: 0 7px 0 0;
      }
    }

    svg {
      pointer-events: none;
    }
  }

  .loss {
    color: $red;
  }

  .gain {
    color: $green;
  }

  %target-base {
    border-radius: 10px;
    color: $white;
    display: inline-block;
    height: 22px;
    padding: 1px;
    text-align: center;
    width: 22px;
  }

  .targetRed {
    @extend %target-base;
    background-color: $grey;
  }

  .targetGreen {
    @extend %target-base;
    background-color: $green;
  }

  .targetGray {
    @extend %target-base;
    background-color: $darkGrey;
  }

  .symbol {
    display: inline-block;
    margin-right: 5px;
  }
}

.managementTable {
  @extend %position-table-base;

  [role="toolbar"] {
    padding: 0;

    > :last-child {
      box-sizing: boorder-box;
      margin-bottom: 16px;
      min-height: 70px;
      padding: 10px 25px;
      width: 15%;

      @include media("<=sm") {
        margin-bottom: 0;
        width: 100%;
      }
    }

    > :first-child {
      padding: 0;
      width: 85%;

      @include media("<=sm") {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
