.traderCard {
  background: $white;
  border: 1px solid $borderColor;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@include media("<=sm") {
  .traderCard {
    margin: 30px 0 0;
  }
}

[data-theme="dark"] {
  .traderCard {
    background: $lightBlackBackground;
  }
}
