.traderMiniCard {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  height: 80px;
  min-width: 290px;
  max-width: 385px;
  padding: 5px 16px 12px;

  .logoIcon {
    height: 32px;
    width: 32px;
  }

  .name {
    // sass-lint:disable-block no-vendor-prefixes
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    padding-right: 5px;
    white-space: initial;
  }
}
