@import '../../styles/variables.sass'
@import url('../../styles/fonts.sass')

.subNavHeader
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)
    box-sizing: border-box
    margin-bottom: 30px
    position: relative
    width: 100%

    .dashboardLink
        box-sizing: border-box
        color: inherit
        font-family: 'PlexSans-Medium'
        font-size: 21px
        margin: 0 16px 0 0
        padding: 12px 12px 21px 0
        text-decoration: none
        text-transform: capitalize
        &.active
            border-bottom: 2px solid $purple
@media only screen and (max-width: 600px)
    .dashboardHeader
        overflow: scroll
