.subNavHeader {
  border-bottom: 2px solid $borderColor;
  box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;

  .dashboardLink {
    box-sizing: border-box;
    color: inherit;
    font-family: "PlexSans-Medium";
    font-size: 21px;
    margin: 0 16px 0 0;
    padding: 12px 12px 21px 0;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;

    &.active {
      border-bottom: 2px solid $purple;
    }
  }
}
