.subNavHeader {
  box-sizing: border-box;
  margin-bottom: 32px;
  overflow-x: auto;
  position: relative;

  &::before {
    background: var(--border-color);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .dashboardLink {
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-size: 21px;
    font-weight: 400;
    margin: 0 66px 0 0;
    opacity: 0.6;
    padding: 12px 12px 16px 0;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;

    &.active {
      opacity: 1;

      &::before {
        border-bottom: 2px solid $purple;
        bottom: 0;
        content: "";
        position: absolute;
        width: 100%;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}

[data-theme="dark"] {
  .subNavHeader {
    &::before {
      background-color: $lightBlackBorder;
    }
  }
}

@include media("<=sm") {
  .subNavHeader {
    margin-bottom: 12px;

    .dashboardLink {
      margin: 0 30px 0 0;
      padding: 12px 0 16px;
    }
  }
}
