.moreInfo {
  min-height: inherit;
  width: 100%;

  h3 {
    margin-bottom: 30px;
    width: 100%;
  }

  .infoBox {
    width: 100%;

    .dataBox {
      height: 250px;
      min-width: 200px;

      h3 {
        width: fit-content;
      }

      .icon {
        height: 48px;
        margin-bottom: 30px;
        width: 48px;
      }

      .tagline {
        font-family: "PlexSans-Regular";
        margin-bottom: 30px;
      }
    }
  }
}

@include media("<=sm") {
  .moreInfo {
    h3 {
      text-align: center;
    }

    .infoBox {
      .dataBox {
        width: 100%;
      }
    }
  }
}
