.customButton {
  min-height: 48px;
  min-width: 250px;

  span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .loader {
    color: $white;
    height: 20px;
    width: 20px;
  }

  &.submitButton {
    background: $purple;
    color: $white;
    padding: 0 20px;

    &:hover {
      background: $purpleLight;
    }
  }

  &.disabledButton {
    background: $lightGrey;
    color: $black;

    &:hover {
      background: $lightGrey;
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.loadMoreButton {
    background: transparent;
    border: 2px solid var(--purple);
    color: var(--purple);
    min-width: 250px;

    .loader {
      color: var(--purple);
    }
  }

  &.textPurple {
    background: transparent;
    color: var(--purple);
    min-width: 120px;
  }

  &.bgPurple {
    background: $purple;
    color: $white;

    &:hover {
      background: $purpleLight;
    }
  }

  &.borderPurple {
    border: 2px solid var(--purple);
  }

  &.textDefault {
    background: transparent;
    min-width: 120px;
  }

  &.full {
    width: 100%;
  }

  &.headerButton {
    background: $green;
    color: $white;
    margin: 0 12px;
    min-height: 36px;
    min-width: 200px;
    padding: 0 20px;

    &:hover {
      background: $green;
    }
  }

  &.exchangeButton {
    min-width: 336px;
  }

  &.deleteButton {
    color: $red;
    min-width: 0;

    .loader {
      color: var(--purple);
    }
  }
}

@include media("<=sm") {
  .customButton {
    width: 90%;

    &.exchangeButton {
      min-width: 100%;
    }
  }
}
