.customButton {
  @include media("<=sm") {
    width: 90%;
  }

  height: 48px;
  min-width: 250px;

  span {
    font-family: "PlexSans-Medium";
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .loader {
    color: $white;
    height: 20px;
    width: 20px;
  }

  &.submitButton {
    background: $purple;
    color: $white;
    padding: 0 20px;

    &:hover {
      background: $purpleLight;
    }
  }

  &.disabledButton {
    background: $lightGrey;
    color: $black;

    &:hover {
      background: $lightGrey;
    }
  }

  &.loadMoreButton {
    background: $white;
    border: 2px solid $purple;
    color: $purple;
    min-width: 250px;
  }

  &.textPurple {
    background: transparent;
    color: $purple;
    min-width: 120px;
  }

  &.textDefault {
    background: transparent;
    min-width: 120px;
  }

  &.full {
    width: 100%;
  }

  &.headerButton {
    background: $green;
    color: $white;
    height: 34px;
    margin: 0 12px;
    min-width: 200px;
    padding: 0 20px;
  }
}
