@import '../../styles/variables.sass';

.customButton
    height: 40px !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    min-width: 200px !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
    padding: .25rem .75rem !important;
    box-sizing: border-box;
    font-family: 'PlexSans-Medium' !important;
    margin: 0px 10px

    &.green
        background: $green !important;
    &.red
        background: $red !important;
    &.blue
        background: $blue !important;
    &.purple
        background: $purple !important;
    &.pink
        background: $pink !important;

    .loader
        width: 20px !important;
        height: 20px !important;
        color: $white;


    &.submit-btn
        background: $purple;
        color: $white !important;
        &:hover
            background: $purpleLight;


    &.disabled-btn
        background: $lightGrey;
        color: $black !important;
        &:hover
            background: $lightGrey;



    &.load-more-btn
        background: $white;
        color: $purple;
        border: 2px solid $purple;


    &.full
        width: 100%;
