@import '../../styles/variables.sass';

.customButton
    height: 48px !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    min-width: 250px !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
    padding: 0px !important;
    box-sizing: border-box;
    font-family: 'PlexSans-Medium' !important;

    .loader
        width: 20px !important;
        height: 20px !important;
        color: $white;


    &.submit-btn
        background: $purple;
        color: $white !important;
        &:hover
            background: $purpleLight;


    &.disabled-btn
        background: $lightGrey;
        color: $black !important;
        &:hover
            background: $lightGrey;



    &.load-more-btn
        background: $white;
        color: $purple;
        border: 2px solid $purple;

    &.text-purple
        min-width: 120px !important;
        background: transparent;
        color: $purple !important;


    &.full
        width: 100%;

    &.header-btn
        background: $green !important;
        height: 32px !important;
        min-width: 200px !important;
        color: $white;
        margin: 0px 12px;
