@import '../../styles/variables.sass';

.customButton
    font-size: 16px !important;
    letter-spacing: 1px !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
    box-sizing: border-box;
    padding: 0px !important;
    font-family: 'PlexSans-Medium' !important;
    color: $white !important;

    &.header
        background: $green !important;
        height: 32px !important;
        margin: 0px 12px;
        min-width: 200px !important;

    &.login
        background: $purple !important;
        height: 48px !important;
        min-width: 100%;

    .loader
        width: 20px !important;
        height: 20px !important;
        color: $white;

    &.disabled
        background: $lightGrey;
        color: $black !important;
        &:hover
            background: $lightGrey;



    &.load-more-btn
        background: $white;
        color: $purple;
        border: 2px solid $purple;


    &.full
        width: 100%;
