@import '../../styles/variables.sass'

.customButton
    box-sizing: border-box
    cursor: pointer !important
    font-family: 'PlexSans-Medium' !important
    font-size: 16px !important
    height: 48px !important
    letter-spacing: 1px !important
    min-width: 250px !important
    padding: 0 !important
    text-transform: capitalize !important

    .loader
        color: $white
        height: 20px !important
        width: 20px !important

    &.submit-btn
        background: $purple
        color: $white !important
        &:hover
            background: $purpleLight

    &.disabled-btn
        background: $lightGrey
        color: $black !important
        &:hover
            background: $lightGrey

    &.load-more-btn
        background: $white
        border: 2px solid $purple
        color: $purple

    &.text-purple
        background: transparent
        color: $purple !important
        min-width: 120px !important
    &.text-default
        background: transparent
        min-width: 120px !important

    &.full
        width: 100%

    &.header-btn
        background: $green !important
        color: $white
        height: 32px !important
        margin: 0 12px
        min-width: 200px !important
