.countrySelect {
  margin-bottom: 20px;
  width: 100%;

  .fieldBox {
    margin-bottom: 10px;
    width: 100%;

    .selectInput {
      width: 40%;
    }

    .selected {
      padding: 0 8px;

      span {
        margin-right: 5px;
      }

      .flag {
        height: 18px;
        margin-right: 10px;
        width: 18px;
      }
    }

    .customInput {
      width: calc(60% - 64px);
    }
  }

  .iconBox {
    height: 24px;
    width: 24px;
  }

  .icon {
    color: $lightGrey;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &.add {
      color: $green;
    }

    &.delete {
      color: $red2;
    }
  }

  .addActionBox {
    width: 100%;
  }
}

.selectItem {
  .flag {
    height: 18px;
    margin-right: 10px;
    width: 18px;
  }
}

@include media("<=sm") {
  .countrySelect {
    width: 100%;

    .fieldBox {
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 15px;
      position: relative;
      width: 100%;

      .selectInput {
        margin-bottom: 5px;
        width: 90%;
      }

      .customInput {
        width: 90%;
      }

      .icon {
        position: absolute;
        right: 0;
      }
    }
  }
}
