.app
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    .body
        width: inherit;
        .side
            width: 110px;
            min-height: calc(100vh - 64px);
            position: relative;
            box-sizing: border-box;
        .content
            width: calc(100% - 110px);
            min-height: calc(100vh - 64px);
            padding: 20px;
            box-sizing: border-box;