.app
    width: 100%;
    min-height: 100vh;
    .body
        width: inherit;
        .side
            width: 150px;
            min-height: calc(100vh - 64px);
            position: relative;
        .content
            width: calc(100% - 150px);
            min-height: calc(100vh - 64px);
            padding: 20px;