.socialSelect {
  width: 100%;

  .fieldBox {
    margin-bottom: 10px;
    width: 100%;

    .selectInput {
      width: 30%;
    }

    .customInput {
      width: calc(70% - 64px);
    }

    .icon {
      color: $lightGrey;
      cursor: pointer;
      height: 32px;
      width: 32px;

      &.add {
        color: $green;
      }

      &.delete {
        color: $red2;
      }
    }
  }
}
