.socialSelect {
  width: 100%;

  .fieldBox {
    width: 100%;
    margin-bottom: 10px;

    .selectInput {
      width: 30%;
    }

    .customInput {
      width: calc(70% - 64px);
    }

    .icon {
      width: 32px;
      height: 32px;
      color: $lightGrey;
      cursor: pointer;

      &.add {
        color: $green;
      }

      &.delete {
        color: $red2;
      }
    }
  }
}
