.socialSelect {
  width: 100%;

  .fieldBox {
    margin-bottom: 20px;
    width: 100%;

    .selectInput {
      width: 30%;
    }

    .customInputBox {
      position: relative;
      width: calc(70% - 64px);
    }

    .customInput {
      width: 100%;

      &.error {
        fieldset {
          border-color: $red;
        }
      }
    }

    .errorText {
      left: 0;
      position: absolute;
      top: 25px;
    }
  }

  .iconBox {
    height: 24px;
    width: 24px;
  }

  .icon {
    color: $lightGrey;
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;

    &.add {
      color: $green;
    }

    &.delete {
      color: $red2;
    }
  }

  .addActionBox {
    width: 100%;
  }
}

@include media("<=sm") {
  .socialSelect {
    width: 100%;

    .fieldBox {
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 15px;
      position: relative;
      width: 100%;

      .selectInput {
        margin-bottom: 5px;
        width: 90%;
      }

      .customInputBox {
        position: relative;
        width: 90%;
      }

      .customInput {
        width: 100%;
      }

      .iconBox {
        position: absolute;
        right: 0;
      }
    }
  }
}
