.createProviderForm {
  padding: 50px 18px;
  width: 100%;

  .formContent {
    max-width: 556px;
    width: 100%;
  }

  > .loader {
    margin-top: 60px;
  }

  label,
  .customLabel {
    margin-bottom: 5px;
  }

  .desc {
    margin: 12px 0 32px;
  }

  .customSelect {
    align-items: flex-start;
    margin: 0 0 auto;
    width: 100%;

    // &:not(:first-of-type) {
    //   margin-left: 20px;
    // }

    .customSelectControl {
      width: 100%;
    }

    .searchRoot {
      margin-right: 0;
      min-width: 130px;
      width: 100%;
    }

    .select {
      margin-right: 0;
    }
  }

  .inputBox {
    margin-bottom: 18px;
    width: 100%;
  }

  .nameBox,
  .disclaimerBox,
  .typeBox {
    width: 50%;
  }

  .listBox {
    align-items: flex-start;
    width: auto;
  }

  .accordion {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
  }

  .accordionSummary,
  .accordionDetails {
    padding: 0;
  }

  .selectLabel {
    font-size: 16px;
    font-weight: 400;
  }

  .customButton {
    margin-top: 12px;
  }

  .boxWrapper {
    width: 100%;
  }
}

@include media("<=sm") {
  .createProviderForm {
    .customButton {
      width: 100%;
    }

    .boxWrapper {
      flex-direction: column;
    }

    .customSelect {
      &#{&} {
        margin-left: 0;
      }

      &:first-child {
        margin-bottom: 18px;
      }

      > span {
        margin: 0;
        padding: 0;
        text-align: left;

        > p {
          margin-right: 0;
        }
      }
    }

    .nameBox,
    .disclaimerBox,
    .typeBox {
      width: 100%;
    }

    .inputBox {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
