.strategyPanel {
  .entryType {
    flex: 0 0 100%;

    [role="radiogroup"] {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    svg {
      width: 18px;
    }
  }

  .positionSizePercentage {
    justify-content: space-between;

    > :nth-child(1) {
      flex: 0 0 40%;
    }

    > :nth-child(2) {
      flex: 0 0 calc(60% - 15px);
    }
  }

  .panelContent {
    > div {
      flex: 0 0 100%;
    }

    .leverageButton {
      flex: 0 0 50px;

      button {
        border: $purple solid 1px;
        font-size: 15px;
        padding: 3px;
        text-transform: none;
      }
    }
  }

  .leverageButton {
    white-space: nowrap;
  }
}
