.exchangeAccountData {
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  padding: 24px;
  width: 100%;

  .topBoxData {
    display: flex;
    height: 383px;
    justify-content: center;
    padding-bottom: 12px;
    position: relative;
  }

  .equityBox {
    flex: 1;

    .equityHeader {
      margin-bottom: 0;
    }

    .totalEquity {
      border: 0;
      height: 100%;
    }

    .gradientChart {
      height: 176px;
    }

    .boxTitle {
      display: none;
    }

    h4 {
      margin-top: -8px;
    }
  }

  .cryptoBox {
    flex: 1;

    h3 {
      font-size: 21px;
      font-weight: 400;
    }

    .legendBox {
      padding: 0 20px;
    }

    .canvasParent {
      @include media(">sm") {
        height: 200px;
        width: 200px;
      }
    }
  }

  .cardsBox {
    flex: 1;
    position: relative;
  }

  .balanceBox {
    border-top: 1px solid var(--border-color);
    width: 100%;
  }

  .cryptoComposition {
    align-items: center;
    display: flex;
    flex: 1;

    .doughnut {
      align-items: center;
    }
  }

  .availableBalance {
    padding: 0;
  }

  .noBalance {
    h3 {
      font-weight: 400;
      text-transform: initial;
    }
  }

  a {
    color: var(--purple);
    cursor: pointer;
  }
}

@include media("<=sm") {
  .exchangeAccountData {
    padding: 12px;

    .topBoxData {
      align-items: center;
      flex-direction: column;
      height: auto;
    }

    .equityBox {
      width: 100%;

      .gradientChart {
        height: auto;
      }

      .equityFilter {
        margin-top: 18px;
      }
    }

    .cryptoBox {
      min-height: 200px;
      width: 100%;

      .legendBox {
        padding: 0;
      }

      .doughnut {
        align-items: flex-start;
      }

      .canvasParent {
        // height: 176px;
        // width: 176px;
      }
    }

    .noBalance {
      margin: 32px 0;
    }
  }
}

@include media(">sm", "<=lg") {
  .exchangeAccountData {
    .equityBox {
      .totalEquity {
        padding-right: 5px;
      }
    }

    .cryptoBox {
      .legendBox {
        padding: 0 28px;
      }
    }

    .cryptoComposition {
      padding-left: 5px;
    }
  }
}
