.exchangeAccountData {
  box-shadow: 0 2px 8px 0 $boxShadowColor;
  padding: 24px;
  width: 100%;

  .topBoxData {
    // max-height: 400px;
    max-height: 400px;
    // min-height: 260px;
    position: relative;
  }

  .equityBox {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    .totalEquity {
      border: 0;
      flex: 1;
    }

    .boxTitle {
      display: none;
    }

    h4 {
      margin-top: -8px;
    }
  }

  .cryptoBox {
    display: flex;
    flex: 1 1 0;

    h3 {
      font-size: 21px;
      font-weight: 400;
    }

    .canvasParent {
      //   flex: 0;
      //   height: 300px;
    }

    .legendBox {
      padding: 0 20px;
    }
  }

  .cardsBox {
    flex: 1 1 0;
    position: relative;
  }

  .balanceBox {
    border-top: 1px solid var(--border-color);
    margin-top: 30px;
    width: 100%;
  }

  .cryptoComposition {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .availableBalance {
    padding: 0;
  }

  .noBalance {
    h3 {
      font-weight: 400;
      text-transform: initial;
    }
  }

  a {
    color: var(--purple);
    cursor: pointer;
  }
}

@include media("<=sm") {
  .exchangeAccountData {
    padding: 12px;

    .topBoxData {
      align-items: flex-start;
      flex-direction: column;
      max-height: none;
    }

    .equityBox {
      width: 100%;
    }

    .cryptoBox {
      min-height: 200px;
      width: 100%;
    }

    .noBalance {
      margin: 32px 0;
    }
  }
}
